In [28]:
import numpy as np
import pandas as pd
import json
import requests
import re
import os
from datetime import datetime as dt
from pandas.io.json import json_normalize
import geocoder
import matplotlib.pylab as plt
import seaborn as sns
import shapefile
from sklearn import preprocessing
%matplotlib inline
from sklearn.preprocessing import MinMaxScaler
import plotly.express as px


df_main_categ = pd.read_csv('df_main_categ.csv')

mms = MinMaxScaler()
selected_cols = ['price_sqm', 'floor_area_sqm','year','distance_to_nearest_mrt','distance_to_downtown','storey_avg','toilet_number',
       'room_number']

selected_cols_without_year = ['price_sqm', 'floor_area_sqm','distance_to_nearest_mrt','distance_to_downtown','storey_avg','toilet_number',
       'room_number']

df_by_year = df_main_categ[selected_cols].groupby('year').mean()
df_by_year[selected_cols_without_year] = mms.fit_transform(df_by_year[selected_cols_without_year])
df_by_year = df_by_year.reset_index()
df_by_year.columns

In [35]:
df_by_year.columns

Index(['year', 'price_sqm', 'floor_area_sqm', 'distance_to_nearest_mrt',
       'distance_to_downtown', 'storey_avg', 'toilet_number', 'room_number'],
      dtype='object')

In [74]:
fig = px.line(df_by_year, x="year", y=selected_cols_without_year)
# fig.show()

#### rank the variance of the variable

In [33]:
from sklearn.feature_selection import VarianceThreshold

# var0_#### rank the variance of the variablefilter = VarianceThreshold(threshold=0.0)
# var0_filter.fit(df_final, y= df_final['price_sqm'])

# pd.DataFrame(df_final.columns[var0_filter.get_support()==False])

var5_filter = VarianceThreshold(threshold=0.05)
var5_filter.fit(df_main_categ, y= df_main_categ['price_sqm'])

pd.DataFrame(df_main_categ.columns[var5_filter.get_support()==False])

                               0
0                  toilet_number
1                    town_BISHAN
2               town_BUKIT BATOK
3               town_BUKIT MERAH
4             town_BUKIT PANJANG
5               town_BUKIT TIMAH
6              town_CENTRAL AREA
7             town_CHOA CHU KANG
8                  town_CLEMENTI
9                   town_GEYLANG
10              town_JURONG EAST
11          town_KALLANG/WHAMPOA
12             town_LIM CHU KANG
13            town_MARINE PARADE
14                town_PASIR RIS
15                  town_PUNGGOL
16               town_QUEENSTOWN
17                town_SEMBAWANG
18                 town_SENGKANG
19                town_SERANGOON
20                town_TOA PAYOH
21              flat_type_1 ROOM
22              flat_type_2 ROOM
23    flat_type_MULTI-GENERATION
24             flat_model_2-room
25      flat_model_Adjoined flat
26          flat_model_Apartment
27               flat_model_DBSS
28         flat_model_Maisonette
29           flat_model_Model A2
30   flat_model_Multi Generation
31  flat_model_Premium Apartment
32           flat_model_STANDARD
33           flat_model_Standard
34            flat_model_Terrace
35            flat_model_Type S1
36            flat_model_Type S2
37                   storey < 20
38                   storey < 30
39                    story > 30
40                        School

#### However one-hot still useful

In [73]:
df_main_categ = pd.read_csv('df_main_categ.csv')

mms = MinMaxScaler()
selected_cols = ['price_sqm', 'floor_area_sqm','distance_to_nearest_mrt','distance_to_downtown','storey_avg','toilet_number',
       'room_number']

selected_cols_without_storey = ['price_sqm', 'floor_area_sqm','distance_to_nearest_mrt','distance_to_downtown','toilet_number',
       'room_number']

df_by_storey = df_main_categ[selected_cols].groupby('storey_avg').mean()
df_by_storey[selected_cols_without_storey] = mms.fit_transform(df_by_storey[selected_cols_without_storey])
df_by_storey = df_by_storey.reset_index()
fig = px.line(df_by_storey, x="storey_avg", y=selected_cols_without_storey)
# fig.show()

In [65]:
df_non_hot_categ = pd.read_csv('df_non_hot.csv')
df_non_hot_categ = df_non_hot_categ[['year',
       'floor_area_sqm', 'resale_price', 
       'remaining_lease', 
       'price_sqm', 'distance_to_downtown',
       'distance_to_nearest_mrt', 'toilet_number', 'room_number', 'Bus',
       'Entertainment', 'Food', 'School', 'Shop']]

In [66]:
df_non_hot_categ

,year,floor_area_sqm,resale_price,remaining_lease,price_sqm,distance_to_downtown,distance_to_nearest_mrt,toilet_number,room_number,Bus,Entertainment,Food,School,Shop
0,2017,44.0,232000.0,61,5272.727273,8.383132,0.851339,1,2,1.0,0.0,11.0,0.0,4.0
1,2017,67.0,250000.0,60,3731.343284,9.236619,0.696968,2,3,2.0,0.0,7.0,0.0,0.0
2,2017,67.0,262000.0,62,3910.447761,8.911143,0.617914,2,3,0.0,1.0,3.0,0.0,1.0
3,2017,68.0,265000.0,62,3897.058824,8.383132,0.851339,2,3,1.0,0.0,11.0,0.0,4.0
4,2017,67.0,265000.0,62,3955.223881,8.911143,0.617914,2,3,0.0,1.0,3.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839605,1999,142.0,456000.0,69,3211.267606,13.132845,0.637828,2,3,0.0,1.0,9.0,0.0,1.0
839606,1999,142.0,408000.0,70,2873.239437,14.026676,0.411571,2,3,0.0,2.0,25.0,0.0,8.0
839607,1999,146.0,469000.0,70,3212.328767,14.230671,1.670481,2,3,0.0,1.0,3.0,0.0,0.0
839608,1999,146.0,440000.0,70,3013.698630,13.932028,1.254211,2,3,0.0,2.0,7.0,0.0,2.0
839609,1999,145.0,484000.0,70,3337.931034,13.932028,1.254211,2,3,0.0,2.0,7.0,0.0,2.0

In [76]:
fig = px.scatter_matrix(df_non_hot_categ,
    dimensions=['price_sqm', 'distance_to_downtown',
       'distance_to_nearest_mrt', 'toilet_number', 'room_number', 'Bus',
       'Entertainment', 'Food', 'School', 'Shop'],
    color="year", width=1000, height=1000)
# fig.show()