# 1. Find Nearby Commercial Center

In [87]:
import numpy as np
import pandas as pd
import json
import requests
import re
import os
from datetime import datetime as dt
from pandas.io.json import json_normalize
import geocoder
import matplotlib.pylab as plt
import seaborn as sns
import shapefile
from sklearn import preprocessing
from sklearn.neighbors import DistanceMetric
from math import radians
%matplotlib inline

checking_distance = 1
df_train = pd.read_csv("project_data/train.csv")
commercial_centers = pd.read_csv("project_data/auxiliary-data/sg-commerical-centres.csv")
df_train['radian_latitude']= np.radians(df_train['latitude'])
df_train['radian_longitude'] = np.radians(df_train['longitude'])

commercial_centers['radian_lat']= np.radians(commercial_centers['lat'])
commercial_centers['radian_lng'] = np.radians(commercial_centers['lng'])

# The distance computed here is a haversine distance. 
# This assumes the earth is a true sphere which makes for a relatively fast computation. 
# Reference: https://medium.com/@danalindquist/finding-the-distance-between-two-lists-of-geographic-coordinates-9ace7e43bb2f

dist = DistanceMetric.get_metric('haversine')
dist_matrix = (dist.pairwise
    (df_train[['radian_latitude','radian_longitude']],
     commercial_centers[['radian_lat','radian_lng']])*6378
)
# the radius of the earth in miles: 3959 
# the radius of the earth in km: 6378 km
df_dist_matrix = (
    pd.DataFrame(dist_matrix,index=df_train['street_name'], 
                 columns=commercial_centers['name'])
)

# Finding the nearby commercial centers which are less than 1km distance
df_dist_matrix['Count_Commercial']=df_dist_matrix.iloc[::].le(checking_distance,axis = 0).sum(axis = 1)
df_dist_matrix=df_dist_matrix[['Count_Commercial']]

df_train = pd.DataFrame(
    np.column_stack([df_train,df_dist_matrix]),
    columns=df_train.columns.append(df_dist_matrix.columns)
)
pd.set_option('display.max_columns', None)
df_train.head(20)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,resale_price,radian_latitude,radian_longitude,Count_Commercial
0,2001-08,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,east region,209700.0,0.023894,1.814422,0
1,2014-10,punggol,5-room,196B,punggol field,10 to 12,110.0,improved,uncategorized,2003,1.399007,103.906991,0.0,punggol field,punggol,north-east region,402300.0,0.024417,1.813519,0
2,2020-09,sengkang,5 room,404A,fernvale lane,01 to 03,112.0,premium apartment,uncategorized,2004,1.388348,103.873815,0.0,fernvale,sengkang,north-east region,351000.0,0.024231,1.81294,0
3,2000-10,clementi,3 room,375,clementi avenue 4,07 to 09,67.0,new generation,uncategorized,1980,1.318493,103.766702,0.0,clementi north,clementi,west region,151200.0,0.023012,1.811071,0
4,2013-01,bukit batok,3-room,163,bukit batok street 11,07 to 09,73.0,model a,uncategorized,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,west region,318600.0,0.02353,1.810651,0
5,2001-01,bukit batok,3 room,240,Bukit Batok East Avenue 5,10 to 12,67.0,new generation,uncategorized,1985,1.350488,103.754178,0.0,bukit batok east,bukit batok,west region,120600.0,0.02357,1.810852,0
6,2007-09,jurong west,4 room,647,jurong west street 61,13 to 15,100.0,model a,uncategorized,1998,1.340111,103.697388,0.0,jurong west central,jurong west,west region,248850.0,0.023389,1.809861,0
7,2010-11,geylang,5-room,3,pine close,16 to 18,110.0,improved,uncategorized,2000,1.306929,103.88311,0.0,aljunied,geylang,central region,639000.0,0.02281,1.813102,0
8,2005-08,yishun,3 room,239,yishun ring road,04 to 06,67.0,new generation,uncategorized,1985,1.433595,103.839685,0.0,northland,yishun,north region,136800.0,0.025021,1.812344,0
9,2013-10,bukit batok,3-room,504,bukit batok street 52,10 to 12,60.0,improved,uncategorized,1988,1.351966,103.754984,0.0,guilin,bukit batok,west region,261000.0,0.023596,1.810866,0
10,2010-06,bukit panjang,executive,543,jelapang road,01 to 03,140.0,apartment,uncategorized,1999,1.382495,103.764046,0.0,saujana,bukit panjang,west region,445500.0,0.024129,1.811024,0
11,2001-11,serangoon,5 room,517,serangoon north avenue 4,04 to 06,122.0,improved,uncategorized,1992,1.371323,103.874086,0.0,serangoon north,serangoon,north-east region,297000.0,0.023934,1.812945,0
12,2002-09,pasir ris,4 room,473,pasir ris drive 6,04 to 06,103.0,model a,uncategorized,1989,1.374495,103.957363,0.0,pasir ris drive,pasir ris,east region,204300.0,0.023989,1.814398,0
13,2002-08,jurong east,4 room,332,jurong east avenue 1,01 to 03,106.0,model a,uncategorized,1985,1.351591,103.730196,0.0,yuhua west,jurong east,west region,180000.0,0.02359,1.810433,0
14,2019-06,kallang/whampoa,4 room,813,Jellicoe Road,10 to 12,90.0,model a,uncategorized,2003,1.307298,103.862111,0.0,lavender,kallang,central region,639000.0,0.022817,1.812736,0
15,2002-06,hougang,4 room,448,Hougang Avenue 10,07 to 09,103.0,model a,uncategorized,1990,1.379115,103.895119,0.0,hougang east,hougang,north-east region,210150.0,0.02407,1.813312,1
16,2006-07,woodlands,5 room,762,woodlands avenue 6,01 to 03,122.0,improved,uncategorized,1998,1.446027,103.796072,0.0,woodlands east,woodlands,north region,242100.0,0.025238,1.811583,0
17,2002-01,woodlands,4 room,317,woodlands street 31,01 to 03,103.0,model a,uncategorized,1993,1.431896,103.776268,0.0,woodgrove,woodlands,north region,184500.0,0.024991,1.811238,0
18,2002-08,tampines,5 room,903,Tampines Avenue 4,04 to 06,133.0,model a,uncategorized,1984,1.350976,103.939761,0.0,tampines west,tampines,east region,302400.0,0.023579,1.814091,1
19,2009-08,choa chu kang,4 room,463,Choa Chu Kang Avenue 4,01 to 03,104.0,premium apartment,uncategorized,2000,1.377179,103.735454,0.0,peng siang,choa chu kang,west region,270900.0,0.024036,1.810525,0

# 2. Find Nearby Hawker Centers

In [88]:
pd.set_option('display.max_rows', None)
hawker_centers = pd.read_csv("project_data/auxiliary-data/sg-gov-markets-hawker-centres.csv")

#There is an werid error that np.radians can only convert 37 data points
test = np.array_split(hawker_centers, 5)
for i in test:
    i['radian_lat']= np.radians(i['lat'])
    i['radian_lng'] = np.radians(i['lng'])

hawker_centers = pd.concat(test)
# print (hawker_centers)

# The distance computed here is a haversine distance. 
# This assumes the earth is a true sphere which makes for a relatively fast computation. 
# Reference: https://medium.com/@danalindquist/finding-the-distance-between-two-lists-of-geographic-coordinates-9ace7e43bb2f

dist = DistanceMetric.get_metric('haversine')
dist_matrix = (dist.pairwise
    (df_train[['radian_latitude','radian_longitude']],
     hawker_centers[['radian_lat','radian_lng']])*6378
)
# the radius of the earth in miles: 3959 
# the radius of the earth in km: 6378 km
df_dist_matrix = (
    pd.DataFrame(dist_matrix,index=df_train['street_name'], 
                 columns=hawker_centers['name'])
)
# print(df_dist_matrix.head(20))

# Finding the nearby hawker centers which are less than 1km distance
df_dist_matrix['Count_Hawkers']=df_dist_matrix.iloc[::].le(checking_distance,axis = 0).sum(axis = 1)
df_dist_matrix=df_dist_matrix[['Count_Hawkers']]

df_train = pd.DataFrame(
    np.column_stack([df_train,df_dist_matrix]),
    columns=df_train.columns.append(df_dist_matrix.columns)
)
pd.set_option('display.max_columns', None)
df_train.head(20)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,resale_price,radian_latitude,radian_longitude,Count_Commercial,Count_Hawkers
0,2001-08,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,east region,209700.0,0.023894,1.814422,0,1
1,2014-10,punggol,5-room,196B,punggol field,10 to 12,110.0,improved,uncategorized,2003,1.399007,103.906991,0.0,punggol field,punggol,north-east region,402300.0,0.024417,1.813519,0,0
2,2020-09,sengkang,5 room,404A,fernvale lane,01 to 03,112.0,premium apartment,uncategorized,2004,1.388348,103.873815,0.0,fernvale,sengkang,north-east region,351000.0,0.024231,1.81294,0,0
3,2000-10,clementi,3 room,375,clementi avenue 4,07 to 09,67.0,new generation,uncategorized,1980,1.318493,103.766702,0.0,clementi north,clementi,west region,151200.0,0.023012,1.811071,0,2
4,2013-01,bukit batok,3-room,163,bukit batok street 11,07 to 09,73.0,model a,uncategorized,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,west region,318600.0,0.02353,1.810651,0,1
5,2001-01,bukit batok,3 room,240,Bukit Batok East Avenue 5,10 to 12,67.0,new generation,uncategorized,1985,1.350488,103.754178,0.0,bukit batok east,bukit batok,west region,120600.0,0.02357,1.810852,0,0
6,2007-09,jurong west,4 room,647,jurong west street 61,13 to 15,100.0,model a,uncategorized,1998,1.340111,103.697388,0.0,jurong west central,jurong west,west region,248850.0,0.023389,1.809861,0,1
7,2010-11,geylang,5-room,3,pine close,16 to 18,110.0,improved,uncategorized,2000,1.306929,103.88311,0.0,aljunied,geylang,central region,639000.0,0.02281,1.813102,0,3
8,2005-08,yishun,3 room,239,yishun ring road,04 to 06,67.0,new generation,uncategorized,1985,1.433595,103.839685,0.0,northland,yishun,north region,136800.0,0.025021,1.812344,0,0
9,2013-10,bukit batok,3-room,504,bukit batok street 52,10 to 12,60.0,improved,uncategorized,1988,1.351966,103.754984,0.0,guilin,bukit batok,west region,261000.0,0.023596,1.810866,0,0
10,2010-06,bukit panjang,executive,543,jelapang road,01 to 03,140.0,apartment,uncategorized,1999,1.382495,103.764046,0.0,saujana,bukit panjang,west region,445500.0,0.024129,1.811024,0,0
11,2001-11,serangoon,5 room,517,serangoon north avenue 4,04 to 06,122.0,improved,uncategorized,1992,1.371323,103.874086,0.0,serangoon north,serangoon,north-east region,297000.0,0.023934,1.812945,0,0
12,2002-09,pasir ris,4 room,473,pasir ris drive 6,04 to 06,103.0,model a,uncategorized,1989,1.374495,103.957363,0.0,pasir ris drive,pasir ris,east region,204300.0,0.023989,1.814398,0,1
13,2002-08,jurong east,4 room,332,jurong east avenue 1,01 to 03,106.0,model a,uncategorized,1985,1.351591,103.730196,0.0,yuhua west,jurong east,west region,180000.0,0.02359,1.810433,0,1
14,2019-06,kallang/whampoa,4 room,813,Jellicoe Road,10 to 12,90.0,model a,uncategorized,2003,1.307298,103.862111,0.0,lavender,kallang,central region,639000.0,0.022817,1.812736,0,3
15,2002-06,hougang,4 room,448,Hougang Avenue 10,07 to 09,103.0,model a,uncategorized,1990,1.379115,103.895119,0.0,hougang east,hougang,north-east region,210150.0,0.02407,1.813312,1,0
16,2006-07,woodlands,5 room,762,woodlands avenue 6,01 to 03,122.0,improved,uncategorized,1998,1.446027,103.796072,0.0,woodlands east,woodlands,north region,242100.0,0.025238,1.811583,0,1
17,2002-01,woodlands,4 room,317,woodlands street 31,01 to 03,103.0,model a,uncategorized,1993,1.431896,103.776268,0.0,woodgrove,woodlands,north region,184500.0,0.024991,1.811238,0,1
18,2002-08,tampines,5 room,903,Tampines Avenue 4,04 to 06,133.0,model a,uncategorized,1984,1.350976,103.939761,0.0,tampines west,tampines,east region,302400.0,0.023579,1.814091,1,2
19,2009-08,choa chu kang,4 room,463,Choa Chu Kang Avenue 4,01 to 03,104.0,premium apartment,uncategorized,2000,1.377179,103.735454,0.0,peng siang,choa chu kang,west region,270900.0,0.024036,1.810525,0,0

# 3. Find Nearby Primary Schools

In [89]:
pd.set_option('display.max_rows', None)
primary_schools = pd.read_csv("project_data/auxiliary-data/sg-primary-schools.csv")

#There is an werid error that np.radians can only convert 37 data points
test = np.array_split(primary_schools, 6)
for i in test:
    i['radian_lat']= np.radians(i['lat'])
    i['radian_lng'] = np.radians(i['lng'])

primary_schools = pd.concat(test)
# print (hawker_centers)

# The distance computed here is a haversine distance. 
# This assumes the earth is a true sphere which makes for a relatively fast computation. 
# Reference: https://medium.com/@danalindquist/finding-the-distance-between-two-lists-of-geographic-coordinates-9ace7e43bb2f

dist = DistanceMetric.get_metric('haversine')
dist_matrix = (dist.pairwise
    (df_train[['radian_latitude','radian_longitude']],
     primary_schools[['radian_lat','radian_lng']])*6378
)
# the radius of the earth in miles: 3959 
# the radius of the earth in km: 6378 km
df_dist_matrix = (
    pd.DataFrame(dist_matrix,index=df_train['street_name'], 
                 columns=primary_schools['name'])
)
# print(df_dist_matrix.head(20))

# Finding the nearby hawker centers which are less than 1km distance
df_dist_matrix['Count_Primary_Schools']=df_dist_matrix.iloc[::].le(checking_distance,axis = 0).sum(axis = 1)
df_dist_matrix=df_dist_matrix[['Count_Primary_Schools']]

df_train = pd.DataFrame(
    np.column_stack([df_train,df_dist_matrix]),
    columns=df_train.columns.append(df_dist_matrix.columns)
)
pd.set_option('display.max_columns', None)
df_train.head(20)

,month,town,flat_type,block,street_name,storey_range,floor_area_sqm,flat_model,eco_category,lease_commence_date,latitude,longitude,elevation,subzone,planning_area,region,resale_price,radian_latitude,radian_longitude,Count_Commercial,Count_Hawkers,Count_Primary_Schools
0,2001-08,pasir ris,4 room,440,pasir ris drive 4,01 to 03,118.0,model a,uncategorized,1989,1.369008,103.958697,0.0,pasir ris drive,pasir ris,east region,209700.0,0.023894,1.814422,0,1,5
1,2014-10,punggol,5-room,196B,punggol field,10 to 12,110.0,improved,uncategorized,2003,1.399007,103.906991,0.0,punggol field,punggol,north-east region,402300.0,0.024417,1.813519,0,0,8
2,2020-09,sengkang,5 room,404A,fernvale lane,01 to 03,112.0,premium apartment,uncategorized,2004,1.388348,103.873815,0.0,fernvale,sengkang,north-east region,351000.0,0.024231,1.81294,0,0,2
3,2000-10,clementi,3 room,375,clementi avenue 4,07 to 09,67.0,new generation,uncategorized,1980,1.318493,103.766702,0.0,clementi north,clementi,west region,151200.0,0.023012,1.811071,0,2,2
4,2013-01,bukit batok,3-room,163,bukit batok street 11,07 to 09,73.0,model a,uncategorized,1985,1.348149,103.742658,0.0,bukit batok west,bukit batok,west region,318600.0,0.02353,1.810651,0,1,2
5,2001-01,bukit batok,3 room,240,Bukit Batok East Avenue 5,10 to 12,67.0,new generation,uncategorized,1985,1.350488,103.754178,0.0,bukit batok east,bukit batok,west region,120600.0,0.02357,1.810852,0,0,3
6,2007-09,jurong west,4 room,647,jurong west street 61,13 to 15,100.0,model a,uncategorized,1998,1.340111,103.697388,0.0,jurong west central,jurong west,west region,248850.0,0.023389,1.809861,0,1,4
7,2010-11,geylang,5-room,3,pine close,16 to 18,110.0,improved,uncategorized,2000,1.306929,103.88311,0.0,aljunied,geylang,central region,639000.0,0.02281,1.813102,0,3,1
8,2005-08,yishun,3 room,239,yishun ring road,04 to 06,67.0,new generation,uncategorized,1985,1.433595,103.839685,0.0,northland,yishun,north region,136800.0,0.025021,1.812344,0,0,5
9,2013-10,bukit batok,3-room,504,bukit batok street 52,10 to 12,60.0,improved,uncategorized,1988,1.351966,103.754984,0.0,guilin,bukit batok,west region,261000.0,0.023596,1.810866,0,0,3
10,2010-06,bukit panjang,executive,543,jelapang road,01 to 03,140.0,apartment,uncategorized,1999,1.382495,103.764046,0.0,saujana,bukit panjang,west region,445500.0,0.024129,1.811024,0,0,5
11,2001-11,serangoon,5 room,517,serangoon north avenue 4,04 to 06,122.0,improved,uncategorized,1992,1.371323,103.874086,0.0,serangoon north,serangoon,north-east region,297000.0,0.023934,1.812945,0,0,1
12,2002-09,pasir ris,4 room,473,pasir ris drive 6,04 to 06,103.0,model a,uncategorized,1989,1.374495,103.957363,0.0,pasir ris drive,pasir ris,east region,204300.0,0.023989,1.814398,0,1,4
13,2002-08,jurong east,4 room,332,jurong east avenue 1,01 to 03,106.0,model a,uncategorized,1985,1.351591,103.730196,0.0,yuhua west,jurong east,west region,180000.0,0.02359,1.810433,0,1,1
14,2019-06,kallang/whampoa,4 room,813,Jellicoe Road,10 to 12,90.0,model a,uncategorized,2003,1.307298,103.862111,0.0,lavender,kallang,central region,639000.0,0.022817,1.812736,0,3,1
15,2002-06,hougang,4 room,448,Hougang Avenue 10,07 to 09,103.0,model a,uncategorized,1990,1.379115,103.895119,0.0,hougang east,hougang,north-east region,210150.0,0.02407,1.813312,1,0,5
16,2006-07,woodlands,5 room,762,woodlands avenue 6,01 to 03,122.0,improved,uncategorized,1998,1.446027,103.796072,0.0,woodlands east,woodlands,north region,242100.0,0.025238,1.811583,0,1,4
17,2002-01,woodlands,4 room,317,woodlands street 31,01 to 03,103.0,model a,uncategorized,1993,1.431896,103.776268,0.0,woodgrove,woodlands,north region,184500.0,0.024991,1.811238,0,1,2
18,2002-08,tampines,5 room,903,Tampines Avenue 4,04 to 06,133.0,model a,uncategorized,1984,1.350976,103.939761,0.0,tampines west,tampines,east region,302400.0,0.023579,1.814091,1,2,5
19,2009-08,choa chu kang,4 room,463,Choa Chu Kang Avenue 4,01 to 03,104.0,premium apartment,uncategorized,2000,1.377179,103.735454,0.0,peng siang,choa chu kang,west region,270900.0,0.024036,1.810525,0,0,2

# 4. Find Nearby Secondary Schools

In [90]:
pd.set_option('display.max_rows', None)
secondary_schools = pd.read_csv("project_data/auxiliary-data/sg-secondary-schools.csv")

#There is an werid error that np.radians can only convert 37 data points
test = np.array_split(secondary_schools, 6)
for i in test:
    i['radian_lat']= np.radians(i['lat'])
    i['radian_lng'] = np.radians(i['lng'])

secondary_schools = pd.concat(test)
# print (hawker_centers)

# The distance computed here is a haversine distance. 
# This assumes the earth is a true sphere which makes for a relatively fast computation. 
# Reference: https://medium.com/@danalindquist/finding-the-distance-between-two-lists-of-geographic-coordinates-9ace7e43bb2f

dist = DistanceMetric.get_metric('haversine')
dist_matrix = (dist.pairwise
    (df_train[['radian_latitude','radian_longitude']],
     secondary_schools[['radian_lat','radian_lng']])*6378
)
# the radius of the earth in miles: 3959 
# the radius of the earth in km: 6378 km
df_dist_matrix = (
    pd.DataFrame(dist_matrix,index=df_train['street_name'], 
                 columns=secondary_schools['name'])
)
# print(df_dist_matrix.head(20))

# Finding the nearby hawker centers which are less than 1km distance
df_dist_matrix['Count_Secondary_Schools']=df_dist_matrix.iloc[::].le(checking_distance,axis = 0).sum(axis = 1)
df_dist_matrix=df_dist_matrix[['Count_Secondary_Schools']]

df_train = pd.DataFrame(
    np.column_stack([df_train,df_dist_matrix]),
    columns=df_train.columns.append(df_dist_matrix.columns)
)
pd.set_option('display.max_columns', None)
# print(df_train[:100])

# 5. Find Nearby Malls

In [91]:
pd.set_option('display.max_rows', None)
malls = pd.read_csv("project_data/auxiliary-data/sg-shopping-malls.csv")

#There is an werid error that np.radians can only convert 37 data points
test = np.array_split(malls, 6)
for i in test:
    i['radian_lat']= np.radians(i['lat'])
    i['radian_lng'] = np.radians(i['lng'])

malls = pd.concat(test)
# print (hawker_centers)

# The distance computed here is a haversine distance. 
# This assumes the earth is a true sphere which makes for a relatively fast computation. 
# Reference: https://medium.com/@danalindquist/finding-the-distance-between-two-lists-of-geographic-coordinates-9ace7e43bb2f

dist = DistanceMetric.get_metric('haversine')
dist_matrix = (dist.pairwise
    (df_train[['radian_latitude','radian_longitude']],
     malls[['radian_lat','radian_lng']])*6378
)
# the radius of the earth in miles: 3959 
# the radius of the earth in km: 6378 km
df_dist_matrix = (
    pd.DataFrame(dist_matrix,index=df_train['street_name'], 
                 columns=malls['name'])
)
# print(df_dist_matrix.head(20))

# Finding the nearby hawker centers which are less than 1km distance
df_dist_matrix['Count_Malls']=df_dist_matrix.iloc[::].le(checking_distance,axis = 0).sum(axis = 1)
df_dist_matrix=df_dist_matrix[['Count_Malls']]

df_train = pd.DataFrame(
    np.column_stack([df_train,df_dist_matrix]),
    columns=df_train.columns.append(df_dist_matrix.columns)
)
pd.set_option('display.max_columns', None)
# print(df_train.head(100))

# 6. Find Nearby Stations

In [92]:
pd.set_option('display.max_rows', None)
trains = pd.read_csv("project_data/auxiliary-data/sg-train-stations.csv")

#There is an werid error that np.radians can only convert 37 data points
test = np.array_split(trains, 6)
for i in test:
    i['radian_lat']= np.radians(i['lat'])
    i['radian_lng'] = np.radians(i['lng'])

trains = pd.concat(test)
# print (hawker_centers)

# The distance computed here is a haversine distance. 
# This assumes the earth is a true sphere which makes for a relatively fast computation. 
# Reference: https://medium.com/@danalindquist/finding-the-distance-between-two-lists-of-geographic-coordinates-9ace7e43bb2f

dist = DistanceMetric.get_metric('haversine')
dist_matrix = (dist.pairwise
    (df_train[['radian_latitude','radian_longitude']],
     trains[['radian_lat','radian_lng']])*6378
)
# the radius of the earth in miles: 3959 
# the radius of the earth in km: 6378 km
df_dist_matrix = (
    pd.DataFrame(dist_matrix,index=df_train['street_name'], 
                 columns=trains['name'])
)
# print(df_dist_matrix.head(20))

# Finding the nearby hawker centers which are less than 1km distance
df_dist_matrix['Count_Trains']=df_dist_matrix.iloc[::].le(checking_distance,axis = 0).sum(axis = 1)
df_dist_matrix=df_dist_matrix[['Count_Trains']]

df_train = pd.DataFrame(
    np.column_stack([df_train,df_dist_matrix]),
    columns=df_train.columns.append(df_dist_matrix.columns)
)
pd.set_option('display.max_columns', None)
# print(df_train.head(100))

# Export to CSV

In [93]:
df_train.to_csv('processed/train_w_nearby.csv')