In [51]:
import numpy as np
import pandas as pd
import json
import requests
import re
import os
from datetime import datetime as dt
from pandas.io.json import json_normalize
import geocoder
import matplotlib.pylab as plt
import seaborn as sns
import shapefile
%matplotlib inline

### Gathering raw data from data.gov.sg

In [ ]:
url1 = 'https://data.gov.sg/api/action/datastore_search?resource_id=42ff9cfe-abe5-4b54-beda-c88f9bb438ee'
url2 = 'https://data.gov.sg/api/action/datastore_search?resource_id=1b702208-44bf-4829-b620-4615ee19b57c'
url3 = 'https://data.gov.sg/api/action/datastore_search?resource_id=83b2fc37-ce8c-4df4-968b-370fd818138b'
url4 = 'https://data.gov.sg/api/action/datastore_search?resource_id=8c00bf08-9124-479e-aeca-7cc411d884c4'
url5 = 'https://data.gov.sg/api/action/datastore_search?resource_id=adbbddd3-30e2-445f-a123-29bee150a6fe'
urls = [url1, url2, url3, url4, url5]

df_init = pd.DataFrame()
for url in urls:
    result = requests.get(url).json()['result']
    url = url + '&limit={}'.format(result['total'])
    df_init = df_init.append(pd.DataFrame(requests.get(url).json()['result']['records']))

print(len(df_init))

#### Save the loaded data file as csv locally

In [4]:
df_init.to_csv("dat_init.csv", index = False)

#### Check NaN data

In [136]:
df_init = pd.read_csv("dat_init.csv")

print(len(df_init[df_init['remaining_lease'].isna()]),
len(df_init[df_init['month'].isna()]),
len(df_init[df_init['town'].isna()]),
len(df_init[df_init['flat_type'].isna()]),
len(df_init[df_init['flat_model'].isna()]),
len(df_init[df_init['floor_area_sqm'].isna()]),
len(df_init[df_init['street_name'].isna()]),
len(df_init[df_init['resale_price'].isna()]),
len(df_init[df_init['storey_range'].isna()]),
len(df_init[df_init['block'].isna()]))

709054 0 0 0 0 0 0 0 0 0

#### Get the sparse info remaining lease from commence date

In [138]:
df_init['remaining_lease'] = df_init['lease_commence_date'].astype(int) - 1918

#### Clean the raw data features and features type

In [140]:
# Regular the type of features
df_init['month'] = pd.to_datetime(df_init['month'], format = '%Y-%m')
df_init['year'] = pd.DatetimeIndex(df_init['month']).year
df_init['month'] = pd.DatetimeIndex(df_init['month']).month
df_init[['floor_area_sqm', 'resale_price']] = df_init[['floor_area_sqm', 'resale_price']].astype(float)
df_init[['year', 'lease_commence_date']] = df_init[['year', 'lease_commence_date']].astype(int)

#### Calculate new features

In [142]:
df_init['price_sqm'] = df_init['resale_price']/df_init['floor_area_sqm']
df_init.head()

,town,flat_type,flat_model,floor_area_sqm,street_name,resale_price,month,remaining_lease,lease_commence_date,storey_range,_id,block,year,price_sqm
0,ANG MO KIO,2 ROOM,Improved,44.0,ANG MO KIO AVE 10,232000.0,1,61,1979,10 TO 12,1,406,2017,5272.727273
1,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 4,250000.0,1,60,1978,01 TO 03,2,108,2017,3731.343284
2,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 5,262000.0,1,62,1980,01 TO 03,3,602,2017,3910.447761
3,ANG MO KIO,3 ROOM,New Generation,68.0,ANG MO KIO AVE 10,265000.0,1,62,1980,04 TO 06,4,465,2017,3897.058824
4,ANG MO KIO,3 ROOM,New Generation,67.0,ANG MO KIO AVE 5,265000.0,1,62,1980,01 TO 03,5,601,2017,3955.223881

#### Clean street_name

In [144]:
df_init['street_name'] = df_init['street_name'].str.replace('UPP ', 'UPPER ', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace(' CTRL', ' CENTRAL', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace('JLN ', 'JALAN ', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace('BT ', 'BUKIT ', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace('LOR ', 'LORONG ', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace(' NTH', ' NORTH', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace('NTH BRIDGE', 'NORTH BRIDGE', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace('KG', 'KAMPONG', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace(' DR', ' DRIVE', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace('TG PAGAR', 'TANJONG PAGAR', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace("C'WEALTH", 'COMMONWEALTH', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace("WOODLANDS DRIVE 75", 'WOODLAND DRIVE 75', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace("TAMAN HO SWEE", 'JALAN BUKIT HO SWEE', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace("YUNG PING RD", '157 CORPORATION DRIVE', regex = True)
df_init['street_name'] = df_init['street_name'].str.replace("YUNG LOH RD", '157 CORPORATION DRIVE', regex = True)

In [145]:
address_set = df_init["street_name"].unique().tolist()
print(len(address_set))

569

### Gathering new data - Coordinate

In [15]:
latitude = np.zeros(len(address_set))
longitude = np.zeros(len(address_set))


for n in range(0,len(address_set)):
    geo = geocoder.osm(address_set[n] + ', SG')
    if geo.x is None:
        latitude[n] = 0
        longitude[n] = 0
    else:
        latitude[n] = geo.y
        longitude[n] = geo.x

latitude, longitude

(array([ 1.3676017 ,  1.3823185 ,  1.3768247 ,  1.3643546 ,  1.3696908 ,
         1.3827747 ,  1.3784539 ,  1.3741564 ,  1.3730573 ,  1.3340399 ,
         1.3297469 ,  1.3313413 ,  1.314061  ,  1.3296754 ,  1.3274218 ,
         1.3339821 ,  1.3198453 ,  1.325289  ,  1.3267815 ,  1.3258683 ,
         1.3569767 ,  1.3247239 ,  1.2846604 ,  1.3313564 ,  1.3376794 ,
         1.326493  ,  1.323155  ,  1.3260581 , -5.406307  ,  1.3313193 ,
         1.3264785 ,  1.3538309 ,  1.3603001 ,  1.3480256 ,  1.3508769 ,
         1.3599872 ,  1.3563979 ,  1.3601554 ,  1.3513259 ,  1.3637268 ,
         1.3556782 ,  1.3499936 ,  1.3543135 ,  1.3468302 ,  1.3548853 ,
         1.354495  ,  1.3515765 ,  1.3559923 ,  1.3496472 ,  1.3598218 ,
         1.3438997 ,  1.3375316 ,  1.3564848 ,  1.274558  ,  1.3426301 ,
         1.287298  ,  1.2728382 ,  1.2891495 ,  1.2774161 ,  1.2734284 ,
         1.2746254 ,  1.2860375 ,  1.2880059 ,  1.2779863 ,  1.28350915,
         1.2900221 ,  1.2859726 ,  1.2741667 ,  1.2836697 ,  1.2867631 ,
         1.289199  ,  1.2720967 ,  1.2813092 ,  1.2890059 ,  1.2920076 ,
         1.2859312 ,  1.2878448 ,  1.2879854 ,  1.2918193 ,  1.376504  ,
         1.3771859 ,  1.3793607 ,  1.3890631 ,  1.3849107 ,  1.3869841 ,
         1.3842446 ,  1.3813053 ,  1.326177  ,  1.3859257 ,  1.3797237 ,
         1.3800705 ,  1.3359983 ,  1.31748125,  1.2876992 ,  1.3077179 ,
         1.2994261 ,  1.2877055 ,  1.2755704 ,  1.3026279 ,  1.2975232 ,
         1.3798533 ,  1.3839732 ,  1.381289  ,  1.3999138 ,  1.3955363 ,
         1.3831345 ,  1.3798765 ,  1.3990777 ,  1.3962382 ,  1.3863325 ,
         1.3920506 ,  1.3950397 ,  1.3773371 ,  1.3034608 ,  1.3039138 ,
         1.3043099 ,  1.3168202 ,  1.317397  ,  1.3151003 ,  1.3064695 ,
         1.3141471 ,  1.3075943 ,  1.4085085 ,  1.3162684 ,  1.3298929 ,
         1.3319937 ,  1.3207219 ,  1.326258  ,  1.3097691 ,  1.3078561 ,
         1.3176326 ,  1.3168076 ,  1.3236366 ,  1.32027145,  1.318647  ,
         1.3098466 ,  1.3840378 ,  1.3398661 ,  1.3694513 ,  1.3556123 ,
         1.3657065 ,  1.3741656 ,  1.3520035 ,  1.3705367 ,  1.3776291 ,
         1.3046601 ,  1.369344  ,  1.3520481 ,  1.3749933 ,  1.3775259 ,
         1.3729285 ,  1.3775259 ,  1.3499218 ,  1.3710492 ,  1.3771311 ,
         1.3795782 ,  1.3635317 ,  1.31941495,  1.3206275 ,  1.3430954 ,
         1.3388178 ,  1.346766  ,  1.3353423 ,  1.3451967 ,  1.3317141 ,
         1.340802  ,  1.3487417 ,  1.3342656 ,  1.3428477 ,  1.3327685 ,
         1.3420393 ,  1.3527123 ,  1.3397258 ,  1.34640455,  1.3484713 ,
         1.3444497 ,  1.3341299 ,  1.353982  ,  1.3480442 ,  1.3466949 ,
         1.3531692 ,  1.3421726 ,  1.3265168 ,  1.3494248 ,  1.3504726 ,
         1.3433294 ,  1.3351585 ,  1.3439813 ,  1.3365809 ,  1.3412618 ,
         1.3424506 ,  1.3409755 ,  1.3477495 ,  1.3511437 ,  1.301128  ,
         1.3277621 ,  1.3246835 ,  1.3219991 ,  1.315411  ,  1.3148077 ,
         1.3201475 ,  1.3252974 ,  1.3226521 ,  1.3137764 ,  1.3120873 ,
         1.3166829 ,  1.2991136 ,  1.3206001 ,  1.3128704 ,  1.3181466 ,
         1.3280501 ,  1.3130672 ,  1.327694  ,  1.3044561 ,  1.3049132 ,
         1.3053872 ,  1.3874445 ,  1.3764687 ,  1.3651789 ,  1.3796545 ,
         1.3733321 ,  1.3732743 ,  1.3732557 ,  1.3736297 ,  1.380112  ,
         1.3746686 ,  1.3676522 ,  1.3692524 ,  1.3805112 ,  1.376378  ,
         1.3984048 ,  1.3943247 ,  1.3920159 ,  1.3976389 ,  1.4092895 ,
         1.3969194 ,  1.3979973 ,  1.4043366 ,  1.2977071 ,  1.2940781 ,
         1.3068452 ,  1.3000135 ,  1.3116025 ,  1.3044198 ,  1.3085719 ,
         1.2935048 ,  1.3122576 ,  1.3084725 ,  1.2919091 ,  1.3040731 ,
         1.4453661 ,  1.4484087 ,  1.4507919 ,  1.4562348 ,  1.452055  ,
         1.4481451 ,  1.4469884 ,  1.3948295 ,  1.3847888 ,  1.3969613 ,
         1.3887159 ,  1.3920559 ,  1.3884457 ,  1.3887037 ,  1.3840515 ,
         1.39002   ,  1.3940784 ,  1.3916513 ,  1.3953684 ,  1.3923332 ,
         1.3869718 ,  1.3866439 ,  1.3843684 ,  1.3826096 ,  1.3815363 ,
         1.3918577 ,  1.390511  ,  1.39613   ,  1.3557437 ,  1.3501286 ,
         1.3552437 ,  1.369237  ,  1.3475649 ,  1.3535142 ,  1.3726139 ,
         1.3495407 ,  1.3582131 ,  1.3544826 ,  1.3609365 ,  1.3484091 ,
         1.3471894 ,  1.3537838 ,  1.3478628 ,  1.3552692 ,  1.3512935 ,
         1.358605  ,  1.3585006 ,  1.3624096 ,  1.3553472 ,  1.3416548 ,
         1.3531482 ,  1.3603978 ,  1.343228  ,  1.3446617 ,  1.3602214 ,
         1.3528162 ,  1.344199  ,  1.3590165 ,  1.3533091 ,  1.3537743 ,
         1.3463097 ,  1.3372441 ,  1.3375065 ,  1.3364855 ,  1.3372437 ,
         1.3342747 ,  1.3359313 ,  1.3397755 ,  1.338247  ,  1.3358054 ,
         1.3373789 ,  1.3344892 ,  1.3326741 ,  1.4437577 ,  1.4355016 ,
         1.4332069 ,  1.42752   ,  1.4488393 ,  1.4390696 ,  1.4422997 ,
         1.4417077 ,  1.4302688 ,  1.430358  ,  1.4425691 ,  1.436993  ,
         1.4330392 ,  1.4392459 ,  1.4401658 ,  1.4369878 ,  1.4354097 ,
         1.4294584 ,  1.433499  ,  1.4280562 ,  1.4342973 ,  1.4381712 ,
         1.4466671 ,  1.442578  ,  1.4317591 ,  1.4243404 ,  1.4231327 ,
         1.4304225 ,  1.4160578 ,  1.4365851 ,  1.4263794 ,  1.4304131 ,
         1.4352144 ,  1.4193466 ,  1.4180955 ,  1.4261421 ,  1.425057  ,
         1.42645065,  1.4152526 ,  1.4287667 ,  1.4248635 ,  1.3635834 ,
         1.3659744 ,  1.3300119 ,  1.3270503 ,  1.3314793 ,  1.3325714 ,
         1.3650447 ,  1.2750036 ,  1.2864646 ,  1.2734521 ,  1.2851465 ,
         1.3114355 ,  1.3696059 ,  1.3183905 ,  1.30917   ,  1.3057284 ,
         1.2811686 ,  1.2878588 ,  1.2879366 , 37.706114  ,  1.381568  ,
         1.3918953 ,  1.3752682 ,  1.3767337 ,  1.3169975 ,  1.3239298 ,
         1.3193329 ,  1.3076811 ,  1.3088432 ,  1.3556681 ,  1.3749681 ,
         1.3733707 ,  1.3594517 ,  1.3463675 ,  1.3390269 ,  1.3032065 ,
         1.3048464 ,  1.3200862 ,  1.3030517 , 37.592326  ,  1.3223273 ,
         1.3085687 ,  1.3732198 ,  1.3073048 ,  1.3005279 ,  1.3024928 ,
         1.452079  ,  1.4446381 ,  1.3915181 ,  1.382487  ,  1.3546775 ,
         1.3529215 ,  1.373346  ,  1.3535066 ,  1.3564953 ,  1.3489353 ,
         1.3430495 ,  1.342092  ,  1.3329227 ,  1.3311844 ,  1.444948  ,
         1.444474  ,  1.4469862 ,  1.4315466 ,  1.4420127 ,  1.4453152 ,
         1.4311504 ,  1.4373819 ,  1.3710204 ,  1.3465609 ,  1.3586898 ,
         1.3651851 ,  1.3619204 ,  1.344382  ,  1.3652769 ,  1.2864118 ,
         1.2763979 ,  1.2771286 ,  1.28281325,  1.3803064 ,  1.3168431 ,
         1.3077444 ,  1.3975043 ,  1.3916914 ,  1.4005249 ,  1.3256737 ,
         1.3162526 ,  1.3239392 ,  1.3087324 ,  1.3259736 ,  1.3267331 ,
         1.3358599 ,  1.3283084 ,  1.3254354 ,  1.3124072 ,  1.3634329 ,
         1.2939254 ,  1.3038397 ,  1.4470896 ,  1.3586597 ,  1.3398248 ,
         1.3324631 ,  1.3350239 ,  1.3322371 ,  1.4435007 ,  1.4385868 ,
         1.4389971 ,  1.4310689 ,  1.4360609 ,  1.3709728 ,  1.2886625 ,
         1.3084848 ,  1.384214  ,  1.3228445 ,  1.3158586 ,  1.3463986 ,
         1.3326792 ,  1.3267301 ,  1.3241061 ,  1.3139439 , -5.5911199 ,
         1.3023752 ,  1.395698  ,  1.2839264 ,  1.2845581 ,  1.3832109 ,
         1.3072583 ,  1.3228185 ,  1.306679  ,  1.3491004 ,  1.3071728 ,
         1.3120525 ,  1.3004951 ,  1.3194206 ,  1.316695  ,  1.3275506 ,
         1.3687323 ,  1.353727  ,  1.3566625 ,  1.3370851 ,  1.447736  ,
         1.424791  ,  1.2858915 ,  5.6393874 ,  1.4327211 ,  1.3779008 ,
         1.299678  ,  1.3190231 ,  1.2866736 ,  1.3077403 ,  1.3722168 ,
         1.4010834 ,  1.2852657 ,  1.3070445 ,  1.3953191 ,  1.379241  ,
         1.4479222 ,  1.4132632 ,  1.431399  ,  1.3822136 ,  1.2812987 ,
         1.4501291 ,  1.3775486 ,  1.4111794 ,  1.389954  ,  1.4249121 ,
         1.3964871 ,  1.3314268 ,  1.3966654 ,  1.35603   ,  1.4165474 ,
         1.3738348 ,  1.3481655 ,  1.3369521 ,  1.3821791 ,  1.2925703 ,
         1.3984982 ,  1.2848984 ,  1.363442  ,  1.3534178 ,  1.2834734 ,
         1.4064635 ,  1.3754266 ,  1.3745486 ,  1.3405215 ,  1.4398121 ,
         1.3022315 ,  1.3006033 ,  0.        ,  1.3964684 ,  1.2964806 ,
         1.3099621 ,  1.4175875 ,  1.3169779 ,  1.3586324 ,  1.2808682 ,
        37.560402  ,  1.3290208 ,  1.4284054 ,  0.        ,  0.        ,
         0.        ,  1.2735287 ,  1.453349  ,  1.2842161 ]),
 array([103.8568442 , 103.8387061 , 103.8475557 , 103.8436418 ,
        103.8409057 , 103.8394374 , 103.84742   , 103.8450036 ,
        103.8507324 , 103.9414261 , 103.9264326 , 103.9337502 ,
        103.9336214 , 103.9048357 , 103.9187437 , 103.9303638 ,
        103.935962  , 103.9232643 , 103.9459389 , 103.9193462 ,
        103.8479524 , 103.9371862 , 103.8293989 , 103.9343617 ,
        103.9350542 , 103.9235846 , 103.9134669 , 103.9352645 ,
        122.626192  , 103.9303694 , 103.9440644 , 103.8359877 ,
        103.8320554 , 103.849829  , 103.8523645 , 103.8438395 ,
        103.8443817 , 103.8324248 , 103.8400297 , 103.7500273 ,
        103.7498154 , 103.7423305 , 103.7518088 , 103.750573  ,
        103.7541381 , 103.7418444 , 103.7483905 , 103.7400435 ,
        103.7606908 , 103.7515796 , 103.7609354 , 103.7604656 ,
        103.7480422 , 103.8412735 , 103.7567789 , 103.8292451 ,
        103.8090889 , 103.82676999, 103.81906217, 103.820562  ,
        103.8227681 , 103.8088205 , 103.8288153 , 103.8077696 ,
        103.82332493, 103.8296424 , 103.8041771 , 103.8065407 ,
        103.8301452 , 103.8448641 , 103.8220891 , 103.8245389 ,
        103.8021522 , 103.8091828 , 103.8281489 , 103.8272492 ,
        103.8146371 , 103.8147158 , 103.8324147 , 103.7684897 ,
        103.7718122 , 103.7734075 , 103.7700339 , 103.7642241 ,
        103.7627954 , 103.7703137 , 103.7632918 , 103.8883999 ,
        103.7635851 , 103.7655982 , 103.7676819 , 103.7712799 ,
        103.80756259, 103.83958   , 103.8561979 , 103.852085  ,
        103.8452162 , 103.84299324, 103.8560759 , 103.8534339 ,
        103.7540183 , 103.7433587 , 103.742961  , 103.7506964 ,
        103.7502777 , 103.7445107 , 103.7578395 , 103.7456698 ,
        103.7488311 , 103.7461087 , 103.7482012 , 103.7442614 ,
        103.7401825 , 103.7628617 , 103.7648832 , 103.7646036 ,
        103.7657555 , 103.7688249 , 103.7652311 , 103.7633806 ,
        103.7634411 , 103.7691926 , 103.8919886 , 103.7648927 ,
        103.8867353 , 103.8852395 , 103.90366668, 103.8981272 ,
        103.8976116 , 103.8861654 , 103.8856256 , 103.8779846 ,
        103.8889641 , 103.88738264, 103.8965168 , 103.884696  ,
        103.8833393 , 103.8931676 , 103.87989   , 103.8900414 ,
        103.897866  , 103.887698  , 103.8796707 , 103.9005966 ,
        103.8845127 , 103.7987842 , 103.880058  , 103.8845867 ,
        103.8816732 , 103.8889484 , 103.8942011 , 103.8889484 ,
        103.8739955 , 103.89435758, 103.884482  , 103.8814051 ,
        103.8895347 , 103.74837288, 103.7383262 , 103.7416232 ,
        103.7425285 , 103.7316884 , 103.7387437 , 103.733862  ,
        103.7470242 , 103.6927096 , 103.7111179 , 103.7250118 ,
        103.711129  , 103.7249411 , 103.6871915 , 103.7185479 ,
        103.6904298 , 103.71228481, 103.7177246 , 103.6941555 ,
        103.7207053 , 103.7047261 , 103.6999277 , 103.6978698 ,
        103.705033  , 103.6934722 , 103.7219332 , 103.6992496 ,
        103.7170794 , 103.6949759 , 103.6988493 , 103.703546  ,
        103.7216909 , 103.7047643 , 103.7037956 , 103.7032635 ,
        103.7232219 , 103.7085022 , 103.8829812 , 103.8571581 ,
        103.8543359 , 103.8634944 , 103.8645548 , 103.8521679 ,
        103.8717615 , 103.8681201 , 103.8547193 , 103.8709028 ,
        103.8530984 , 103.8503694 , 103.8560806 , 103.8578367 ,
        103.8519979 , 103.857083  , 103.8583436 , 103.8676393 ,
        103.8545846 , 103.9085707 , 103.9119548 , 103.9169872 ,
        103.9872927 , 103.9360759 , 103.9623094 , 103.9417422 ,
        103.956317  , 103.9609293 , 103.9608206 , 103.9478921 ,
        103.9384943 , 103.9459817 , 103.9595827 , 103.9484506 ,
        103.9362128 , 103.9391979 , 103.9072285 , 103.9103099 ,
        103.9126644 , 103.9068049 , 103.9097272 , 103.9179481 ,
        103.9188085 , 103.9038354 , 103.8024639 , 103.8039247 ,
        103.80022692, 103.7973615 , 103.7867533 , 103.7813791 ,
        103.7948342 , 103.8110261 , 103.7919776 , 103.7866606 ,
        103.8140283 , 103.7818274 , 103.8200608 , 103.8165876 ,
        103.8253042 , 103.8183584 , 103.8202935 , 103.8145197 ,
        103.8227278 , 103.875783  , 103.8971034 , 103.887776  ,
        103.9060742 , 103.9070585 , 103.906085  , 103.902154  ,
        103.9000606 , 103.8735941 , 103.890576  , 103.897983  ,
        103.8992134 , 103.8722069 , 103.8998933 , 103.9004244 ,
        103.8952937 , 103.8915212 , 103.8930357 , 103.8865184 ,
        103.8895637 , 103.8945619 , 103.8713719 , 103.8776314 ,
        103.8677935 , 103.8736126 , 103.8744403 , 103.87161635,
        103.8736497 , 103.9536182 , 103.9463412 , 103.9463436 ,
        103.9542202 , 103.9361069 , 103.9447013 , 103.9550918 ,
        103.940315  , 103.948199  , 103.9336735 , 103.9545739 ,
        103.9341191 , 103.955691  , 103.9606664 , 103.84645937,
        103.9372219 , 103.938165  , 103.9516301 , 103.9534754 ,
        103.9346527 , 103.9322309 , 103.9554963 , 103.9421926 ,
        103.9579475 , 103.9577272 , 103.9431128 , 103.8520887 ,
        103.8535872 , 103.8501438 , 103.8435121 , 103.8567495 ,
        103.864586  , 103.857539  , 103.8472346 , 103.8649    ,
        103.8822618 , 103.8469774 , 103.85052221, 103.7731784 ,
        103.7789313 , 103.7992763 , 103.7735293 , 103.7754988 ,
        103.7920967 , 103.7988617 , 103.7953695 , 103.7754506 ,
        103.7992814 , 103.7888622 , 103.7975138 , 103.7972655 ,
        103.805544  , 103.7985222 , 103.79746   , 103.7909752 ,
        103.7979671 , 103.7898867 , 103.7923223 , 103.7856538 ,
        103.7822464 , 103.8019736 , 103.8048185 , 103.7938399 ,
        103.8450699 , 103.8308992 , 103.8334205 , 103.8397203 ,
        103.8394404 , 103.8279984 , 103.8297751 , 103.8362337 ,
        103.8456525 , 103.8386676 , 103.8496526 , 103.8442624 ,
        103.83720383, 103.8370213 , 103.8326043 , 103.8352035 ,
        103.8490867 , 103.8499658 , 103.9346388 , 103.9304529 ,
        103.9070574 , 103.9397077 , 103.7470719 , 103.8402184 ,
        103.8320221 , 103.8394071 , 103.8174162 , 103.8762403 ,
        103.7646971 , 103.8073624 , 103.8530903 , 103.8563681 ,
        103.8444047 , 103.8417074 , 103.8410855 , -97.401073  ,
        103.7531023 , 103.7424097 , 103.7401485 , 103.7407287 ,
        103.7565925 , 103.8850491 , 103.8857789 , 103.9036965 ,
        103.8825838 , 103.8910059 , 103.8801684 , 103.892823  ,
        103.8888817 , 103.7020115 , 103.721943  , 103.8831258 ,
        103.8625836 , 103.8647036 , 103.8622669 , -97.526124  ,
        103.8617865 , 103.8629567 , 103.9402901 , 103.7960335 ,
        103.7983595 , 103.7980624 , 103.8203539 , 103.8291537 ,
        103.8825691 , 103.8890709 , 103.8716025 , 103.870596  ,
        103.8712819 , 103.9310827 , 103.9519228 , 103.9454484 ,
        103.957905  , 103.9580175 , 103.855901  , 103.8550185 ,
        103.7762256 , 103.7933728 , 103.7997689 , 103.7689234 ,
        103.8076149 , 103.7927675 , 103.7799985 , 103.8308881 ,
        103.8348104 , 103.8521773 , 103.7471721 , 103.7487672 ,
        103.7469144 , 103.7491765 , 103.7463748 , 103.8103014 ,
        103.8305709 , 103.83936792, 103.81674299, 103.763659  ,
        103.8067178 , 103.8530048 , 103.7500658 , 103.7472554 ,
        103.7486967 , 103.7641107 , 103.8975689 , 103.7708881 ,
        103.8841438 , 103.8807041 , 103.7227817 , 103.7196616 ,
        103.8577785 , 103.8570944 , 103.8741231 , 103.9625193 ,
        103.8005498 , 103.7861    , 103.8192327 , 103.9523979 ,
        103.960775  , 103.8596967 , 103.8799336 , 103.8670407 ,
        103.8043718 , 103.7762958 , 103.8005013 , 103.8391126 ,
        103.8358822 , 103.8351999 , 103.8198921 , 103.8522978 ,
        103.7434613 , 103.7685144 , 103.878363  , 103.7316602 ,
        103.7250429 , 103.7227069 , 103.8670139 , 103.8546605 ,
        122.7313624 , 103.8014794 , 103.8791298 , 103.8301604 ,
        103.8319423 , 103.7661642 , 103.8500308 , 103.7700351 ,
        103.8866899 , 103.7198939 , 103.8613904 , 103.8529403 ,
        103.8825186 , 103.8510063 , 103.8525831 , 103.8457531 ,
        103.8741669 , 103.9427068 , 103.946414  , 103.8446577 ,
        103.7972477 , 103.8367916 , 103.8251665 , 100.4935567 ,
        103.7756159 , 103.8364203 , 103.8495441 , 103.9039559 ,
        103.8187637 , 103.8595588 , 103.957904  , 103.8986648 ,
        103.8315003 , 103.8576751 , 103.882177  , 103.8813464 ,
        103.8136138 , 103.9009328 , 103.8455371 , 103.7502594 ,
        103.8433271 , 103.8275453 , 103.9025749 , 103.8985983 ,
        103.8848358 , 103.857826  , 103.8929513 , 103.7235226 ,
        103.89237   , 103.9403133 , 103.8399968 , 103.9021499 ,
        103.9301186 , 103.9208651 , 103.840551  , 103.810316  ,
        103.8774636 , 103.8329619 , 103.895511  , 103.9294461 ,
        103.8202059 , 103.8951798 , 103.746434  , 103.7422326 ,
        103.7059156 , 103.7710821 , 103.907662  , 103.8559066 ,
          0.        , 103.8707059 , 103.8108893 , 103.9170189 ,
        103.96954807, 103.8884919 , 103.7633222 , 103.83988411,
        -97.271318  , 103.7243321 , 103.7062974 ,   0.        ,
          0.        ,   0.        , 103.8020495 , 103.8317688 ,
        103.8362932 ]))

#### Save coordinate data locally for convenience

In [283]:
# df_lat_long = pd.DataFrame(df_init['street_name'].unique())
# df_lat_long['Latitude'] = latitude
# df_lat_long['Longitude'] = longitude
# df_lat_long.to_csv("df_lat_long.csv", index = False)
# df_lat_long.columns = ['street_name','Latitude','Longitude']
# df_lat_long
df_lat_long = pd.read_csv("df_lat_long.csv")
df_lat_long.columns = ['street_name','Latitude','Longitude']
df_lat_long[df_lat_long['Latitude'] == 0]
df_lat_long[df_lat_long['Longitude'] == 0]
# 1.3201, 103.8873
df_lat_long.loc[df_lat_long['street_name']=='JALAN PASAR BARU','Latitude'] = 1.3201
df_lat_long.loc[df_lat_long['street_name']=='JALAN PASAR BARU','Longitude'] = 103.8873

df_lat_long.loc[df_lat_long['street_name']=='NILE RD','Latitude'] = 1.2828
df_lat_long.loc[df_lat_long['street_name']=='NILE RD','Longitude'] = 103.8175

df_lat_long.loc[df_lat_long['street_name']=='JALAN MEMBINA BARAT','Latitude'] = 1.283347
df_lat_long.loc[df_lat_long['street_name']=='JALAN MEMBINA BARAT','Longitude'] = 103.826121

df_lat_long.loc[df_lat_long['street_name']=='BUANGKOK STH FARMWAY 1','Latitude'] = 1.38838781397
df_lat_long.loc[df_lat_long['street_name']=='BUANGKOK STH FARMWAY 1','Longitude'] = 103.987491735

#### check for none coordinate data

In [286]:
df_lat_long[df_lat_long['Latitude'] == 0]
df_lat_long[df_lat_long['Longitude'] == 0]
df_lat_long.to_csv("df_lat_long.csv")

### Gathering new data - MRT, Bus, Schools, Entertainment, Park
https://data.gov.sg/dataset/sdcp-mrt-station-point?resource_id=1123aaa2-4575-4181-81f6-8e11cda8bd8a%20[D]

In [186]:
df_venues = pd.read_csv("./Data/dat_venues.csv")
df_venues['Venue Category'].unique()

array(['Movie Theater', 'Hotpot Restaurant', 'Chinese Restaurant',
       'Clothing Store', 'Trail', 'Playground', 'Furniture / Home Store',
       'Accessories Store', 'Multiplex', 'Department Store', 'Bookstore',
       'Japanese Restaurant', 'Outlet Store', 'Bakery',
       'Vegetarian / Vegan Restaurant', 'Shoe Store', 'Shopping Mall',
       'Supermarket', 'Bubble Tea Shop', 'Frozen Yogurt Shop',
       'Indian Restaurant', 'Sandwich Place', 'Burger Joint',
       'Coffee Shop', 'Sporting Goods Shop', 'Korean Restaurant',
       'Ramen Restaurant', 'Café', 'Salad Place', 'German Restaurant',
       'Sushi Restaurant', 'Halal Restaurant', 'Juice Bar',
       'Convenience Store', 'Pharmacy', 'Food Court',
       'Gym / Fitness Center', 'Asian Restaurant', 'Market',
       'Fast Food Restaurant', 'Noodle House', 'Stadium', 'Train Station',
       'Food Truck', 'Park', 'Spa', 'Grocery Store', 'Bus Stop',
       'Recreation Center', 'Athletics & Sports', 'Malay Restaurant',
       'Steakhouse', 'Baseball Stadium', 'Skating Rink', 'Karaoke Bar',
       'Italian Restaurant', 'Science Museum', 'Planetarium', 'Bistro',
       'Hotel', 'Basketball Court', 'Ski Area', 'Soccer Field',
       'Bus Station', 'Buffet', 'Health & Beauty Service', 'Pool',
       'Dessert Shop', 'Tea Room', 'Performing Arts Venue',
       'Bowling Alley', 'Seafood Restaurant', 'Ice Cream Shop',
       'Tennis Court', 'Bus Line', 'Electronics Store',
       'Residential Building (Apartment / Condo)', 'Martial Arts Dojo',
       'Thai Restaurant', 'Food & Drink Shop', 'BBQ Joint', 'Speakeasy',
       'Pizza Place', 'Gym', 'Wings Joint', 'Discount Store', 'ATM',
       'Gas Station', 'Snack Place', 'Pet Store', 'Farmers Market',
       'Bagel Shop', 'Garden', 'Video Game Store', 'Music Venue',
       'Nightclub', 'Arcade', 'Sports Bar', 'Medical Center',
       'Flea Market', 'Betting Shop', 'Cha Chaan Teng', 'Breakfast Spot',
       'Japanese Curry Restaurant', 'Massage Studio',
       'American Restaurant', 'Flower Shop', 'Boutique', 'Jewelry Store',
       'Candy Store', 'Lake', 'Scenic Lookout', 'Waterfront',
       'Zoo Exhibit', 'Food', 'College Cafeteria', 'Pool Hall',
       'Restaurant', 'Soup Place', 'Australian Restaurant', 'Gym Pool',
       'Road', 'Volleyball Court', 'Modern European Restaurant', 'Bank',
       'Hobby Shop', 'Fried Chicken Joint', 'Cosmetics Shop', 'Dog Run',
       'General Entertainment', 'Dumpling Restaurant', 'Burrito Place',
       'Indonesian Restaurant', 'Hong Kong Restaurant', 'Cafeteria',
       'Other Great Outdoors', 'Gastropub', 'French Restaurant',
       'Sculpture Garden', 'Diner', 'Thrift / Vintage Store', 'Plaza',
       'Cupcake Shop', 'Kids Store', 'Baby Store', 'Skate Park',
       'Pie Shop', 'Pub', 'Hainan Restaurant', 'Automotive Shop',
       'Hakka Restaurant', 'Shaanxi Restaurant', 'Auto Workshop',
       'Mobile Phone Shop', 'Outdoors & Recreation', 'Golf Course',
       'Shop & Service', 'Rental Car Location', 'Miscellaneous Shop',
       'Auto Garage', 'Whisky Bar', 'Smoke Shop', 'Deli / Bodega', 'Bar',
       'Dim Sum Restaurant', 'Cocktail Bar', 'Art Gallery',
       'Mexican Restaurant', 'Metro Station', 'Tech Startup',
       'Organic Grocery', 'Vietnamese Restaurant', 'Mountain',
       'Club House', 'Cable Car', 'RV Park', 'Historic Site', 'Building',
       'Gourmet Shop', 'Scandinavian Restaurant', 'Hot Dog Joint',
       'Yoga Studio', 'Greek Restaurant', 'Comfort Food Restaurant',
       'Hotel Bar', 'Taiwanese Restaurant', 'Bed & Breakfast', 'Hostel',
       'Neighborhood', 'Hookah Bar', 'New American Restaurant',
       'Beer Bar', 'Mediterranean Restaurant', 'Jazz Club', 'Pet Café',
       'Soccer Stadium', 'Cantonese Restaurant', 'Pakistani Restaurant',
       'Hospital', 'Community Center', 'Motel', 'Currency Exchange',
       'North Indian Restaurant', 'Fruit & Vegetable Store', 'Canal',
       'Bridge', 'Wine Bar', 'Motorcycle Shop', 'Toy / Game Store',
       'Southern / Soul Food Restaurant', 'Climbing Gym', 'Rock Club',
       'Field', 'Lighting Store', 'Monument / Landmark',
       'Middle Eastern Restaurant', 'Bike Shop', 'Donut Shop', 'Lounge',
       'Botanical Garden', 'Taxi', 'Gaming Cafe', 'Beach',
       'Bike Rental / Bike Share', 'Campground', 'Pier', 'Tunnel',
       'Dance Studio', 'Board Shop', 'Brewery', 'Beer Garden',
       'Hotel Pool', 'Resort', 'Roof Deck', 'Government Building',
       'Parking', 'Harbor / Marina', 'Farm', 'High School',
       'Salon / Barbershop', 'Food Service', 'Track', "Women's Store",
       'Light Rail Station', 'Casino', 'Fishing Spot',
       'College Residence Hall', 'Pedestrian Plaza', 'Persian Restaurant',
       'Dive Bar', 'Shabu-Shabu Restaurant', 'Art Museum',
       'Other Repair Shop', 'Indie Theater', 'Theater',
       'Arts & Crafts Store', 'Gift Shop', 'Stationery Store',
       'Event Space', 'General College & University', 'Shopping Plaza',
       'Spanish Restaurant', 'River', 'Wine Shop', 'History Museum',
       'Szechuan Restaurant', 'Sports Club', 'Tapas Restaurant',
       'Kebab Restaurant', 'Soba Restaurant', 'Gay Bar',
       'South Indian Restaurant', 'Buddhist Temple', 'Pop-Up Shop',
       'Fujian Restaurant', 'Paper / Office Supplies Store',
       'Portuguese Restaurant', 'Lottery Retailer',
       'Chinese Breakfast Place', 'College Gym', 'Office',
       'Kitchen Supply Store', 'Fish Market', 'Badminton Court',
       'Theme Restaurant', 'Boarding House', 'Cemetery', 'Optical Shop',
       'Music Store', 'Fish & Chips Shop', 'Bowling Green', 'Video Store',
       'College Arts Building', 'College Academic Building', 'Airport',
       'Taxi Stand', 'Peruvian Restaurant', 'Costume Shop', 'Pastry Shop',
       'Hockey Arena', 'Housing Development', 'Laundromat',
       'Macanese Restaurant', 'Tanning Salon', 'Print Shop', 'Surf Spot',
       'Boat or Ferry', 'Night Market', 'Chinese Aristocrat Restaurant',
       'Coworking Space', 'Football Stadium', "Doctor's Office",
       'College Theater', 'Post Office', 'Filipino Restaurant',
       'Hot Spring', 'Rock Climbing Spot', 'College Bookstore',
       'Lighthouse', 'Satay Restaurant', 'Laundry Service', 'Museum',
       'Gluten-free Restaurant', 'Nail Salon', 'Sake Bar',
       'Latin American Restaurant', 'Cheese Shop', 'Liquor Store',
       'Rest Area', 'Health Food Store', 'Food Stand',
       'Zhejiang Restaurant', 'Big Box Store', 'Drugstore'], dtype=object)

In [179]:
print(len(df_venues[df_venues['Venue Category']=='Train Station']))
print(len(df_venues[df_venues['Venue Category']=='Metro Station']))
print(len(df_venues[df_venues['Venue Category']=='Light Rail Station']))
print(len(df_venues[df_venues['Venue Category']=='Train Station']))
print(len(df_venues[df_venues['Venue Category']=='Mrt']))

23
28
15
23
0

In [187]:
df_venues

,street_name,Latitude,Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,JURONG EAST ST 21,1.333969,103.745903,Platinum Movie Suites,1.333425,103.744113,Movie Theater
1,JURONG EAST ST 21,1.333969,103.745903,Hai Di Lao 海底捞火锅 (Hai Di Lao),1.334577,103.746118,Hotpot Restaurant
2,JURONG EAST ST 21,1.333969,103.745903,Song Fa Bak Kut Teh 松發肉骨茶,1.333394,103.743420,Chinese Restaurant
3,JURONG EAST ST 21,1.333969,103.745903,UNIQLO,1.333175,103.743160,Clothing Store
4,JURONG EAST ST 21,1.333969,103.745903,J-Walk,1.333946,103.744433,Trail
...,...,...,...,...,...,...,...
12766,ANG MO KIO ST 61,1.383185,103.840077,Bus Stop 55029 (Seasons Park),1.385679,103.839109,Bus Stop
12767,ANG MO KIO ST 61,1.383185,103.840077,Castle Green BBQ Pit,1.385623,103.841370,BBQ Joint
12768,ANG MO KIO ST 61,1.383185,103.840077,Castle Green Gymnasium,1.385921,103.841753,Gym
12769,ANG MO KIO ST 61,1.383185,103.840077,Gym @ The Calrose,1.382261,103.836902,Gym
12770,ANG MO KIO ST 61,1.383185,103.840077,B11 Bus Stop@Ang Mo Kio Ave 6,1.381474,103.844003,Bus Station

#### No enough MRT data, which is essential

In [185]:
# df_mrt = pd.read_csv("https://raw.githubusercontent.com/hxchua/datadoubleconfirm/master/datasets/mrtsg.csv", header=0)
# df_mrt.to_csv("mrt_location.csv")
df_mrt = pd.read_csv("mrt_location.csv")

In [219]:
df_mrt
df_mrt["lat_long"] = df_mrt[['Latitude', 'Longitude']].apply(geopy.Point, axis=1)
mrt_list = list(df_mrt.T.iloc[-1,:])
mrt_list

[Point(1.440585001, 103.8009982, 0.0),
 Point(1.316432612, 103.882893, 0.0),
 Point(1.369933175, 103.8495535, 0.0),
 Point(1.388092704, 103.9054179, 0.0),
 Point(1.380017897, 103.7726667, 0.0),
 Point(1.342828338, 103.8797462, 0.0),
 Point(1.281873788, 103.8590733, 0.0),
 Point(1.281873788, 103.8590733, 0.0),
 Point(1.341223176, 103.77581, 0.0),
 Point(1.323979969, 103.9299587, 0.0),
 Point(1.334742117, 103.9179554, 0.0),
 Point(1.33660783, 103.9322077, 0.0),
 Point(1.29886427, 103.8503799, 0.0),
 Point(1.313672233, 103.8629702, 0.0),
 Point(1.35130868, 103.84915, 0.0),
 Point(1.350838988, 103.8481398, 0.0),
 Point(1.319395706, 103.861679, 0.0),
 Point(1.338604054, 103.7060994, 0.0),
 Point(1.322110193, 103.8149876, 0.0),
 Point(1.322423979, 103.8161362, 0.0),
 Point(1.340471684, 103.8467942, 0.0),
 Point(1.296861687, 103.8506629, 0.0),
 Point(1.382877858, 103.8931042, 0.0),
 Point(1.299550746, 103.8568623, 0.0),
 Point(1.300465076, 103.8557007, 0.0),
 Point(1.349034109, 103.74959, 0.0),
 Point(1.333728882, 103.8306903, 0.0),
 Point(1.358761857, 103.7519164, 0.0),
 Point(1.377909898, 103.763034, 0.0),
 Point(1.379002117, 103.7615559, 0.0),
 Point(1.306491669, 103.7906645, 0.0),
 Point(1.307183467, 103.7902028, 0.0),
 Point(1.337674508, 103.8395281, 0.0),
 Point(1.4431, 103.8297, 0.0),
 Point(1.369369831, 103.764714, 0.0),
 Point(1.357314545, 103.9883212, 0.0),
 Point(1.396277631, 103.8937792, 0.0),
 Point(1.284748969, 103.8444484, 0.0),
 Point(1.284359578, 103.8434242, 0.0),
 Point(1.342352821, 103.7326244, 0.0),
 Point(1.38483636, 103.7445797, 0.0),
 Point(1.385361693, 103.744367, 0.0),
 Point(1.292936243, 103.852581, 0.0),
 Point(1.292936243, 103.852581, 0.0),
 Point(1.288386024, 103.8465519, 0.0),
 Point(1.314954492, 103.7653168, 0.0),
 Point(1.302438735, 103.7983136, 0.0),
 Point(1.394493046, 103.9004726, 0.0),
 Point(1.393909226, 103.9125574, 0.0),
 Point(1.399281985, 103.9059403, 0.0),
 Point(1.30838264, 103.888648, 0.0),
 Point(1.405234836, 103.9085809, 0.0),
 Point(1.298842816, 103.8462358, 0.0),
 Point(1.299705459, 103.8454851, 0.0),
 Point(1.298701307, 103.8461119, 0.0),
 Point(1.311405293, 103.7786522, 0.0),
 Point(1.27944619, 103.8528356, 0.0),
 Point(1.293321608, 103.8554985, 0.0),
 Point(1.319778952, 103.9032339, 0.0),
 Point(1.334549778, 103.9615134, 0.0),
 Point(1.335382137, 103.9623407, 0.0),
 Point(1.384520796, 103.7708268, 0.0),
 Point(1.397170196, 103.8892882, 0.0),
 Point(1.31235984, 103.8541717, 0.0),
 Point(1.317510612, 103.8075929, 0.0),
 Point(1.391885888, 103.8762959, 0.0),
 Point(1.292478928, 103.8443255, 0.0),
 Point(1.321505838, 103.8718904, 0.0),
 Point(1.319505215, 103.6605988, 0.0),
 Point(1.26547264, 103.821446, 0.0),
 Point(1.26547264, 103.821446, 0.0),
 Point(1.282542157, 103.7818234, 0.0),
 Point(1.362344869, 103.7674369, 0.0),
 Point(1.31183479, 103.7962016, 0.0),
 Point(1.371292292, 103.8923636, 0.0),
 Point(1.305403642, 103.8554713, 0.0),
 Point(1.386703025, 103.7645235, 0.0),
 Point(1.327717173, 103.6784167, 0.0),
 Point(1.33315262, 103.7423112, 0.0),
 Point(1.33315262, 103.7423112, 0.0),
 Point(1.399584853, 103.9164619, 0.0),
 Point(1.334967302, 103.9084393, 0.0),
 Point(1.31148891, 103.8713766, 0.0),
 Point(1.383978902, 103.9021539, 0.0),
 Point(1.378602766, 103.7490799, 0.0),
 Point(1.321038249, 103.9129282, 0.0),
 Point(1.293462633, 103.7846438, 0.0),
 Point(1.41738337, 103.83298, 0.0),
 Point(1.335665121, 103.7838201, 0.0),
 Point(1.360179171, 103.8850503, 0.0),
 Point(1.425177699, 103.7621874, 0.0),
 Point(1.398212828, 103.881242, 0.0),
 Point(1.272332732, 103.8029471, 0.0),
 Point(1.344259249, 103.7209802, 0.0),
 Point(1.30735702, 103.8628215, 0.0),
 Point(1.392079839, 103.8800158, 0.0),
 Point(1.303916484, 103.8524167, 0.0),
 Point(1.307198223, 103.8485807, 0.0),
 Point(1.351612171, 103.8641434, 0.0),
 Point(1.326345372, 103.8902718, 0.0),
 Point(1.326076883, 103.8893356, 0.0),
 Point(1.276150637, 103.8550886, 0.0),
 Point(1.276427355, 103.8545925, 0.0),
 Point(1.271336711, 103.8628525, 0.0),
 Point(1.432514421, 103.77409, 0.0),
 Point(1.348707263, 103.8394214, 0.0),
 Point(1.326876715, 103.8832341, 0.0),
 Point(1.396912053, 103.9089277, 0.0),
 Point(1.306201905, 103.8825153, 0.0),
 Point(1.313607102, 103.8378098, 0.0),
 Point(1.3123201, 103.8379841, 0.0),
 Point(1.411870458, 103.9002935, 0.0),
 Point(1.299766835, 103.8636292, 0.0),
 Point(1.320440791, 103.8438228, 0.0),
 Point(1.402286677, 103.9127036, 0.0),
 Point(1.299759879, 103.7874693, 0.0),
 Point(1.303981012, 103.8322417, 0.0),
 Point(1.279764543, 103.8395732, 0.0),
 Point(1.28140498, 103.839125, 0.0),
 Point(1.276213523, 103.7913607, 0.0),
 Point(1.372983774, 103.9492348, 0.0),
 Point(1.317430268, 103.8921633, 0.0),
 Point(1.318112082, 103.8930446, 0.0),
 Point(1.376142883, 103.7712881, 0.0),
 Point(1.377750334, 103.7666882, 0.0),
 Point(1.378618844, 103.7580559, 0.0),
 Point(1.337586882, 103.6973586, 0.0),
 Point(1.331379525, 103.869046, 0.0),
 Point(1.293218051, 103.8609921, 0.0),
 Point(1.292891552, 103.860846, 0.0),
 Point(1.405194701, 103.9023911, 0.0),
 Point(1.404546728, 103.902052, 0.0),
 Point(1.41684852, 103.9066284, 0.0),
 Point(1.294860933, 103.8058913, 0.0),
 Point(1.284125611, 103.8514572, 0.0),
 Point(1.284125611, 103.8514572, 0.0),
 Point(1.384233561, 103.897176, 0.0),
 Point(1.289562726, 103.8168209, 0.0),
 Point(1.386723922, 103.8905227, 0.0),
 Point(1.394524496, 103.9161415, 0.0),
 Point(1.306800025, 103.8496427, 0.0),
 Point(1.391468497, 103.9059522, 0.0),
 Point(1.409612685, 103.9048099, 0.0),
 Point(1.415901719, 103.9021353, 0.0),
 Point(1.387772131, 103.7696171, 0.0),
 Point(1.449050821, 103.8200504, 0.0),
 Point(1.391609364, 103.8954243, 0.0),
 Point(1.391694626, 103.8954664, 0.0),
 Point(1.382692296, 103.7623879, 0.0),
 Point(1.350595256, 103.8723572, 0.0),
 Point(1.349707875, 103.8735637, 0.0),
 Point(1.343202895, 103.9533387, 0.0),
 Point(1.330786387, 103.7972561, 0.0),
 Point(1.300260055, 103.8390737, 0.0),
 Point(1.405088585, 103.8971904, 0.0),
 Point(1.380298287, 103.7453173, 0.0),
 Point(1.30284063, 103.8753395, 0.0),
 Point(1.320065557, 103.8260263, 0.0),
 Point(1.408452426, 103.8985387, 0.0),
 Point(1.335433322, 103.88818, 0.0),
 Point(1.356191483, 103.9546005, 0.0),
 Point(1.355077429, 103.9430298, 0.0),
 Point(1.353301356, 103.9451175, 0.0),
 Point(1.345515305, 103.938408, 0.0),
 Point(1.325883209, 103.8073292, 0.0),
 Point(1.327187135, 103.9463161, 0.0),
 Point(1.276521247, 103.8458611, 0.0),
 Point(1.412770894, 103.9065554, 0.0),
 Point(1.376684679, 103.7537352, 0.0),
 Point(1.282289536, 103.8482991, 0.0),
 Point(1.270753211, 103.8097544, 0.0),
 Point(1.380321008, 103.760161, 0.0),
 Point(1.397318155, 103.8756226, 0.0),
 Point(1.286193393, 103.827021, 0.0),
 Point(1.332628987, 103.8474979, 0.0),
 Point(1.389347953, 103.8858287, 0.0),
 Point(1.321026553, 103.6491245, 0.0),
 Point(1.340463766, 103.6369324, 0.0),
 Point(1.329989089, 103.6396662, 0.0),
 Point(1.329956826, 103.8992348, 0.0),
 Point(1.341737484, 103.9614367, 0.0),
 Point(1.436875128, 103.7864999, 0.0),
 Point(1.436066981, 103.7879451, 0.0),
 Point(1.4482, 103.7851, 0.0),
 Point(1.427259979, 103.7938631, 0.0),
 Point(1.339190046, 103.8708081, 0.0),
 Point(1.397535018, 103.7474307, 0.0),
 Point(1.381756046, 103.8449439, 0.0),
 Point(1.429443081, 103.8350045, 0.0)]

In [223]:
# tuple(mrt_list[0])

(1.440585001, 103.8009982, 0.0)

#### Calculate the nearest MRT and distance to Downtown

In [289]:
import geopy
df_lat_long = pd.read_csv("df_lat_long.csv")
df_lat_long["lat_long"] = df_lat_long[['Latitude', 'Longitude']].apply(geopy.Point, axis=1)

station_distance = pd.DataFrame(df_lat_long["lat_long"])
for x in mrt_list:
    station_distance[tuple(x)]=df_lat_long['lat_long'].apply(lambda y: geopy.distance.geodesic(y,x).km)
# station_distance

station_distance["lat_long"] = station_distance["lat_long"].apply(tuple)
station_distance['distance_to_nearest_mrt'] = station_distance.iloc[:,1:].apply(lambda x: min(x), axis=1)
station_distance = station_distance.iloc[:,[0,-1]]
df_lat_long['distance_to_downtown'] = df_lat_long['lat_long'].apply(lambda y: geopy.distance.geodesic(geopy.Point(1.300567, 103.821658), y).km)
df_lat_long["lat_long"] = df_lat_long["lat_long"].apply(tuple)
df_lat_long = pd.merge(df_lat_long, station_distance, on='lat_long', how='left')
df_lat_long

,Unnamed: 0,street_name,Latitude,Longitude,lat_long,distance_to_downtown,distance_to_nearest_mrt
0,0,ANG MO KIO AVE 10,1.367602,103.856844,"(1.3676017, 103.8568442, 0.0)",8.383132,0.851339
1,1,ANG MO KIO AVE 4,1.382319,103.838706,"(1.3823185, 103.8387061, 0.0)",9.236619,0.696968
2,2,ANG MO KIO AVE 5,1.376825,103.847556,"(1.3768247, 103.8475557, 0.0)",8.911143,0.617914
3,3,ANG MO KIO AVE 1,1.364355,103.843642,"(1.3643546, 103.8436418, 0.0)",7.465576,0.901853
4,4,ANG MO KIO AVE 3,1.369691,103.840906,"(1.3696908, 103.8409057, 0.0)",7.937842,0.962769
...,...,...,...,...,...,...,...
566,564,JALAN MEMBINA BARAT,1.283347,103.826121,"(1.283347, 103.826121, 0.0)",1.967815,0.330293
567,565,BUANGKOK STH FARMWAY 1,1.388388,103.987492,"(1.38838781397, 103.987491735, 0.0)",20.854348,3.437164
568,566,ALEXANDRA RD,1.273529,103.802049,"(1.2735287, 103.8020495, 0.0)",3.701473,0.165734
569,567,SEMBAWANG RD,1.453349,103.831769,"(1.453349, 103.8317688, 0.0)",16.931287,1.156432
570,568,OUTRAM HILL,1.284216,103.836293,"(1.2842161, 103.8362932, 0.0)",2.433465,0.442656

In [291]:
df_lat_long.sort_values('distance_to_downtown')
df_init = pd.merge(df_init, df_lat_long, on='street_name', how='left')
df_init

,Unnamed: 0,street_name,Latitude,Longitude,lat_long,distance_to_downtown,distance_to_nearest_mrt
74,74,DELTA AVE,1.292008,103.828149,"(1.2920076, 103.8281489, 0.0)",1.190634,0.655045
70,70,HENDERSON CRES,1.289199,103.822089,"(1.289199, 103.8220891, 0.0)",1.257930,0.587684
250,248,CLARENCE LANE,1.291909,103.814028,"(1.2919091, 103.8140283, 0.0)",1.279654,0.404853
556,554,MARGARET DRIVE,1.296481,103.810889,"(1.2964806, 103.8108893, 0.0)",1.280812,0.584355
476,474,TIONG BAHRU RD,1.288663,103.819892,"(1.2886625, 103.8198921, 0.0)",1.330928,0.355998
...,...,...,...,...,...,...,...
28,28,JALAN DAMAI,-5.406307,122.626192,"(-5.406307, 122.626192, 0.0)",2218.407215,2203.089885
486,484,JALAN DUSUN,-5.591120,122.731362,"(-5.5911199, 122.7313624, 0.0)",2236.131985,2220.901527
385,383,SMITH ST,37.706114,-97.401073,"(37.706114, -97.401073, 0.0)",15169.926010,15154.309484
405,403,CAMBRIDGE RD,37.592326,-97.526124,"(37.592326, -97.526124, 0.0)",15174.919402,15159.291043
562,560,SHORT ST,37.560402,-97.271318,"(37.560402, -97.271318, 0.0)",15189.696649,15174.081132

#### Process other venues info

In [294]:
list(df_venues['Venue Category'].unique())

['Theater',
 'Restaurant',
 'Clothing Store',
 'Trail',
 'Playground',
 'Furniture / Home Store',
 'Accessories Store',
 'Supermarket',
 'Bookstore',
 'Outlet Store',
 'Bakery',
 'Shoe Store',
 'Shopping Mall',
 'Bubble Tea Shop',
 'Frozen Yogurt Shop',
 'Sandwich Place',
 'Burger Joint',
 'Coffee Shop',
 'Sporting Goods Shop',
 'Café',
 'Salad Place',
 'Juice Bar',
 'Pharmacy',
 'Food Court',
 'Gym',
 'Market',
 'Noodle House',
 'Stadium',
 'Train Station',
 'Food Truck',
 'Park',
 'Spa',
 'Bus',
 'Recreation Center',
 'Athletics & Sports',
 'Steakhouse',
 'Baseball Stadium',
 'Skating Rink',
 'Karaoke Bar',
 'Museum',
 'Planetarium',
 'Bistro',
 'Hotel',
 'Basketball Court',
 'Ski Area',
 'Soccer Field',
 'Buffet',
 'Health & Beauty Service',
 'Pool',
 'Dessert Shop',
 'Tea Room',
 'Performing Arts Venue',
 'Bowling Alley',
 'Ice Cream Shop',
 'Tennis Court',
 'Electronics Store',
 'Residential Building (Apartment / Condo)',
 'Martial Arts Dojo',
 'Food & Drink Shop',
 'BBQ Joint',
 'Speakeasy',
 'Pizza Place',
 'Wings Joint',
 'Discount Store',
 'ATM',
 'Gas Station',
 'Snack Place',
 'Pet Store',
 'Farmers Market',
 'Bagel Shop',
 'Video Game Store',
 'Music Venue',
 'Nightclub',
 'Arcade',
 'Sports Bar',
 'Medical Center',
 'Flea Market',
 'Betting Shop',
 'Cha Chaan Teng',
 'Breakfast Spot',
 'Massage Studio',
 'Flower Shop',
 'Boutique',
 'Jewelry Store',
 'Candy Store',
 'Scenic Lookout',
 'Waterfront',
 'Zoo Exhibit',
 'Food',
 'College Cafeteria',
 'Pool Hall',
 'Soup Place',
 'Gym Pool',
 'Road',
 'Volleyball Court',
 'Bank',
 'Hobby Shop',
 'Fried Chicken Joint',
 'Cosmetics Shop',
 'Dog Run',
 'General Entertainment',
 'Burrito Place',
 'Cafeteria',
 'Gastropub',
 'Sculpture Park',
 'Diner',
 'Thrift / Vintage Store',
 'Plaza',
 'Cupcake Shop',
 'Kids Store',
 'Baby Store',
 'Skate Park',
 'Pie Shop',
 'Pub',
 'Automotive Shop',
 'Auto Workshop',
 'Mobile Phone Shop',
 'Outdoors & Recreation',
 'Golf Course',
 'Shop & Service',
 'Rental Car Location',
 'Miscellaneous Shop',
 'Auto Garage',
 'Whisky Bar',
 'Smoke Shop',
 'Deli / Bodega',
 'Bar',
 'Cocktail Bar',
 'Art Gallery',
 'Metro Station',
 'Tech Startup',
 'Organic Grocery',
 'Mountain',
 'Club House',
 'Cable Car',
 'RV Park',
 'Historic Site',
 'Building',
 'Gourmet Shop',
 'Hot Dog Joint',
 'Yoga Studio',
 'Hotel Bar',
 'Bed & Breakfast',
 'Hostel',
 'Neighborhood',
 'Hookah Bar',
 'Beer Bar',
 'Jazz Club',
 'Pet Café',
 'Soccer Stadium',
 'Hospital',
 'Community Center',
 'Motel',
 'Currency Exchange',
 'Fruit & Vegetable Store',
 'Canal',
 'Bridge',
 'Wine Bar',
 'Motorcycle Shop',
 'Toy / Game Store',
 'Rock Club',
 'Field',
 'Lighting Store',
 'Monument / Landmark',
 'Bike Shop',
 'Donut Shop',
 'Lounge',
 'Botanical Park',
 'Taxi',
 'Gaming Cafe',
 'Beach',
 'Bike Rental / Bike Share',
 'Campground',
 'Pier',
 'Tunnel',
 'Dance Studio',
 'Board Shop',
 'Brewery',
 'Beer Park',
 'Hotel Pool',
 'Resort',
 'Roof Deck',
 'Government Building',
 'Parking',
 'Harbor / Marina',
 'Farm',
 'High School',
 'Salon / Barbershop',
 'Food Service',
 'Track',
 "Women's Store",
 'Light Rail Station',
 'Casino',
 'Fishing Spot',
 'College Residence Hall',
 'Pedestrian Plaza',
 'Dive Bar',
 'Other Repair Shop',
 'Arts & Crafts Store',
 'Gift Shop',
 'Stationery Store',
 'Event Space',
 'General College & University',
 'River',
 'Wine Shop',
 'Sports Club',
 'Gay Bar',
 'Buddhist Temple',
 'Pop-Up Shop',
 'Paper / Office Supplies Store',
 'Lottery Retailer',
 'Chinese Breakfast Place',
 'Office',
 'Kitchen Supply Store',
 'Fish Market',
 'Badminton Court',
 'Boarding House',
 'Cemetery',
 'Optical Shop',
 'Music Store',
 'Fish & Chips Shop',
 'Bowling Green',
 'Video Store',
 'College Arts Building',
 'College Academic Building',
 'Airport',
 'Taxi Stand',
 'Costume Shop',
 'Pastry Shop',
 'Hockey Arena',
 'Housing Development',
 'Laundromat',
 'Tanning Salon',
 'Print Shop',
 'Surf Spot',
 'Boat or Ferry',
 'Night Market',
 'Coworking Space',
 'Football Stadium',
 "Doctor's Office",
 'Post Office',
 'Hot Spring',
 'Rock Climbing Spot',
 'College Bookstore',
 'Lighthouse',
 'Laundry Service',
 'Nail Salon',
 'Sake Bar',
 'Cheese Shop',
 'Liquor Store',
 'Rest Area',
 'Health Food Store',
 'Food Stand',
 'Big Box Store',
 'Drugstore']

In [312]:
df_venues['Venue Category'] = df_venues['Venue Category'].replace(
    ['Bus Station', 'Bus Stop', 'Bus Line'], 
    'Bus', regex = True)

df_venues['Venue Category'] = df_venues['Venue Category'].replace(
    ['Supermarket', 'Department Store', 'Convenience Store', 'Grocery Store'], 
    'Supermarket', regex = True)

df_venues['Venue Category'] = df_venues['Venue Category'].replace(
    ['Shopping Mall', 'Shopping Plaza','Cosmetics Shop','Kids Store','Baby Store',], 
    'Shopping Mall', regex = True)

df_venues['Venue Category'] = df_venues['Venue Category'].replace(
    ['Multiplex', 'Theater', 'Movie Theater', 'Indie Theater', 'College Theater'], 
    'Theater', regex = True)


df_venues['Venue Category'] =df_venues['Venue Category'].replace(
    ['High School','General College & University'], 
    'School', regex = True)

In [313]:
# Create list of selected Venue Categories
venue_list = ['Bus', 'Supermarket', 'Shopping Mall',
              'Theater','Food Court','School']

# Filter venue dataframe with venue list
df_vcat = df_venues.loc[df_venues['Venue Category'].isin(venue_list),]

In [314]:
# Format Venue Categories Dataframe to tidy format
df_vcat = pd.DataFrame(df_vcat.groupby(['street_name', 'Venue Category'])['Venue'].count())
df_vcat = df_vcat.reset_index()
df_vcat = df_vcat.pivot(index='street_name',columns='Venue Category',values='Venue')
df_vcat = df_vcat.reset_index()
df_vcat.fillna(0, inplace = True)
# df_vcat
print(df_vcat.sort_values('Bus'))
print(df_vcat.sort_values('Supermarket'))
print(df_vcat.sort_values('Shopping Mall'))
print(df_vcat.sort_values('Theater'))
print(df_vcat.sort_values('Food Court'))
print(df_vcat.sort_values('School'))

Venue Category             street_name  Bus  Food Court  School  \
0                157 CORPORATION DRIVE  0.0         1.0     0.0
286                       MARINE DRIVE  0.0         1.0     0.0
284                    MACPHERSON LANE  0.0         2.0     0.0
283                     LOWER DELTA RD  0.0         3.0     0.0
280                      LORONG AH SOO  0.0         1.0     0.0
..                                 ...  ...         ...     ...
403                     TAMPINES ST 23  5.0         0.0     0.0
20                    ANG MO KIO AVE 9  5.0         2.0     0.0
157                           ELIAS RD  5.0         0.0     0.0
81              BUKIT BATOK WEST AVE 4  6.0         0.0     0.0
147                  CORPORATION DRIVE  6.0         1.0     0.0

Venue Category  Shopping Mall  Supermarket  Theater
0                         0.0          1.0      0.0
286                       1.0          1.0      3.0
284                       0.0          0.0      0.0
283                       1.0          4.0      0.0
280                       0.0          0.0      0.0
..                        ...          ...      ...
403                       1.0          0.0      0.0
20                        0.0          1.0      0.0
157                       0.0          2.0      0.0
81                        0.0          1.0      0.0
147                       0.0          3.0      0.0

[514 rows x 7 columns]
Venue Category         street_name  Bus  Food Court  School  Shopping Mall  \
256                        KENT RD  0.0         2.0     0.0            0.0
138              COMMONWEALTH CRES  1.0         2.0     0.0            0.0
139             COMMONWEALTH DRIVE  1.0         1.0     0.0            0.0
140                COMPASSVALE BOW  1.0         1.0     0.0            0.0
142               COMPASSVALE LANE  0.0         1.0     0.0            1.0
..                             ...  ...         ...     ...            ...
283                 LOWER DELTA RD  0.0         3.0     0.0            1.0
507                   YISHUN ST 81  2.0         0.0     0.0            0.0
19                ANG MO KIO AVE 8  0.0         5.0     0.0            2.0
248              JURONG WEST ST 81  2.0         2.0     0.0            1.0
225              JURONG EAST ST 21  0.0         0.0     0.0            3.0

Venue Category  Supermarket  Theater
256                     0.0      0.0
138                     0.0      0.0
139                     0.0      0.0
140                     0.0      0.0
142                     0.0      0.0
..                      ...      ...
283                     4.0      0.0
507                     4.0      0.0
19                      4.0      1.0
248                     4.0      0.0
225                     5.0      2.0

[514 rows x 7 columns]
Venue Category            street_name  Bus  Food Court  School  Shopping Mall  \
0               157 CORPORATION DRIVE  0.0         1.0     0.0            0.0
309                   PASIR RIS ST 12  1.0         1.0     0.0            0.0
308                   PASIR RIS ST 11  3.0         0.0     0.0            0.0
307                 PASIR RIS DRIVE 6  0.0         2.0     1.0            0.0
306                 PASIR RIS DRIVE 4  3.0         2.0     0.0            0.0
..                                ...  ...         ...     ...            ...
401                    TAMPINES ST 21  4.0         3.0     0.0            4.0
160                        EUNOS RD 5  0.0         4.0     0.0            4.0
391                    TAMPINES AVE 4  2.0         2.0     0.0            4.0
300                     NTH BRIDGE RD  0.0         1.0     0.0            5.0
172                     GEYLANG SERAI  0.0         6.0     0.0            5.0

Venue Category  Supermarket  Theater
0                       1.0      0.0
309                     1.0      0.0
308                     2.0      0.0
307                     3.0      0.0
306                     2.0      0.0
..                      ...      ...
401                     2.0      0.0
160                     2.0      1.0
391                     2.0      0.0
300                     1.0      1.0
172                     3.0      1.0

[514 rows x 7 columns]
Venue Category            street_name  Bus  Food Court  School  Shopping Mall  \
0               157 CORPORATION DRIVE  0.0         1.0     0.0            0.0
340                      REDHILL LANE  0.0         4.0     0.0            0.0
339                        REDHILL CL  0.0         4.0     0.0            0.0
337                         QUEENSWAY  1.0         2.0     0.0            0.0
336                        QUEEN'S RD  0.0         1.0     0.0            3.0
..                                ...  ...         ...     ...            ...
334                          QUEEN ST  0.0         1.0     1.0            3.0
225                 JURONG EAST ST 21  0.0         0.0     0.0            3.0
513                           ZION RD  0.0         1.0     0.0            3.0
286                      MARINE DRIVE  0.0         1.0     0.0            1.0
447                       WATERLOO ST  0.0         1.0     1.0            3.0

Venue Category  Supermarket  Theater
0                       1.0      0.0
340                     2.0      0.0
339                     3.0      0.0
337                     0.0      0.0
336                     2.0      0.0
..                      ...      ...
334                     1.0      2.0
225                     5.0      2.0
513                     3.0      2.0
286                     1.0      3.0
447                     1.0      4.0

[514 rows x 7 columns]
Venue Category       street_name  Bus  Food Court  School  Shopping Mall  \
375                     SIMEI RD  2.0         0.0     0.0            0.0
124               CLEMENTI AVE 2  2.0         0.0     0.0            1.0
364              SERANGOON AVE 3  0.0         0.0     0.0            3.0
363              SERANGOON AVE 2  0.0         0.0     0.0            3.0
362              SERANGOON AVE 1  0.0         0.0     0.0            3.0
..                           ...  ...         ...     ...            ...
125               CLEMENTI AVE 3  2.0         5.0     0.0            2.0
172                GEYLANG SERAI  0.0         6.0     0.0            5.0
45               BEDOK STH AVE 2  2.0         6.0     0.0            0.0
129               CLEMENTI ST 11  2.0         6.0     0.0            2.0
25              ANG MO KIO ST 52  2.0         7.0     0.0            0.0

Venue Category  Supermarket  Theater
375                     1.0      0.0
124                     1.0      1.0
364                     2.0      1.0
363                     2.0      1.0
362                     2.0      1.0
..                      ...      ...
125                     2.0      1.0
172                     3.0      1.0
45                      1.0      0.0
129                     3.0      1.0
25                      3.0      0.0

[514 rows x 7 columns]
Venue Category            street_name  Bus  Food Court  School  Shopping Mall  \
0               157 CORPORATION DRIVE  0.0         1.0     0.0            0.0
351                   SEMBAWANG DRIVE  1.0         1.0     0.0            1.0
350                      SEMBAWANG CL  1.0         1.0     0.0            1.0
348                          SEGAR RD  0.0         1.0     0.0            0.0
347                        SAUJANA RD  0.0         0.0     0.0            0.0
..                                ...  ...         ...     ...            ...
326                     PUNGGOL DRIVE  0.0         1.0     1.0            0.0
307                 PASIR RIS DRIVE 6  0.0         2.0     1.0            0.0
447                       WATERLOO ST  0.0         1.0     1.0            3.0
312                   PASIR RIS ST 41  1.0         2.0     1.0            1.0
349                        SELEGIE RD  0.0         0.0     1.0            0.0

Venue Category  Supermarket  Theater
0                       1.0      0.0
351                     1.0      0.0
350                     1.0      0.0
348                     0.0      0.0
347                     1.0      0.0
..                      ...      ...
326                     2.0      0.0
307                     3.0      0.0
447                     1.0      4.0
312                     4.0      1.0
349                     0.0      0.0

[514 rows x 7 columns]

In [315]:
df_vcat.sort_values('School')

Venue Category,street_name,Bus,Food Court,School,Shopping Mall,Supermarket,Theater
0,157 CORPORATION DRIVE,0.0,1.0,0.0,0.0,1.0,0.0
351,SEMBAWANG DRIVE,1.0,1.0,0.0,1.0,1.0,0.0
350,SEMBAWANG CL,1.0,1.0,0.0,1.0,1.0,0.0
348,SEGAR RD,0.0,1.0,0.0,0.0,0.0,0.0
347,SAUJANA RD,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...
326,PUNGGOL DRIVE,0.0,1.0,1.0,0.0,2.0,0.0
307,PASIR RIS DRIVE 6,0.0,2.0,1.0,0.0,3.0,0.0
447,WATERLOO ST,0.0,1.0,1.0,3.0,1.0,4.0
312,PASIR RIS ST 41,1.0,2.0,1.0,1.0,4.0,1.0
349,SELEGIE RD,0.0,0.0,1.0,0.0,0.0,0.0

In [316]:
df_main = df_init.merge(df_vcat, how = 'left', on = 'street_name')
df_main = df_main.fillna(0)
df_main['flat_model'] = df_main['flat_model'].str.replace('2-ROOM', '2-room') \
                                    .str.replace('MULTI GENERATION', 'Multi Generation') \
                                    .str.replace('PREMIUM APARTMENT', 'Premium Apartment') \
                                    .str.replace('Premium Apartment.', 'Premium Apartment') \
                                    .str.replace('Premium Apartment Loft', 'Premium Apartment') \
                                    .str.replace('NEW GENERATION', 'New Generation') \
                                    .str.replace('MODEL A', 'Model A') \
                                    .str.replace('Improved-MAISONETTE', 'Maisonette') \
                                    .str.replace('Model A-Maisonette', 'Maisonette') \
                                    .str.replace('Premium ApartmentLoft', 'Premium Apartment') \
                                    .str.replace('flat_type_MULTI-GENERATION', 'flat_type_MULTI GENERATION') \
                                    .str.replace( 'flat_model_PREMIUM Apartment', 'flat_model_Premium Apartment') \
                                    .str.replace('Model A-MAISONETTE', 'Maisonette') \
                                    .str.replace('APARTMENT', 'Apartment') \
                                    .str.replace('MAISONETTE', 'Maisonette') \
                                    .str.replace('IMPROVED', 'Improved') \
                                    .str.replace('SIMPLIFIED', 'Simplified') \
                                    .str.replace('MODEL A-MAISONETTE', 'Maisonette') \
                                    .str.replace('Improved-Maisonette', 'Maisonette') \
                                    .str.replace('Premium Maisonette', 'Maisonette') \
                                    .str.replace('ADJOINED FLAT', 'Adjoined flat') \
                                    .str.replace('TERRACE', 'Terrace') 
                                    

# 'flat_type_MULTI GENERATION',
# 'flat_type_MULTI-GENERATION',
#  'flat_model_PREMIUM Apartment',
#  'flat_model_Premium Apartment',    

df_onehot = pd.get_dummies(df_main[['town', 'flat_type', 'flat_model', 'storey_range']])
df_final = df_main.join(df_onehot)
df_final.drop(['town','month', 'flat_type','flat_model','storey_range', 'street_name', 
               'resale_price','block','_id','lease_commence_date','Latitude','Longitude','lat_long'], 
              axis = 1, inplace = True)
df_final.head()

<ipython-input-316-6152ce4d7aeb>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  df_main['flat_model'] = df_main['flat_model'].str.replace('2-ROOM', '2-room') \

,floor_area_sqm,remaining_lease,year,price_sqm,distance_to_nearest_mrt,Bus,Food Court,School,Shopping Mall,Supermarket,...,storey_range_28 TO 30,storey_range_31 TO 33,storey_range_31 TO 35,storey_range_34 TO 36,storey_range_36 TO 40,storey_range_37 TO 39,storey_range_40 TO 42,storey_range_43 TO 45,storey_range_46 TO 48,storey_range_49 TO 51
0,44.0,61,2017,5272.727273,0.851339,0.0,5.0,0.0,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0
1,67.0,60,2017,3731.343284,0.696968,0.0,2.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,0
2,67.0,62,2017,3910.447761,0.617914,2.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
3,68.0,62,2017,3897.058824,0.851339,0.0,5.0,0.0,0.0,3.0,...,0,0,0,0,0,0,0,0,0,0
4,67.0,62,2017,3955.223881,0.617914,2.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [329]:
df_onehot = pd.get_dummies(df_main[['town', 'flat_type', 'flat_model', 'storey_range']])
df_final = df_main.join(df_onehot)
df_final.drop(['town','month', 'flat_type','flat_model','storey_range', 'street_name', 
               'resale_price','block','_id','lease_commence_date','Latitude','Longitude','lat_long'], 
              axis = 1, inplace = True)

#  'storey_range_01 TO 03',
#  'storey_range_01 TO 05',
#  'storey_range_04 TO 06',
#  'storey_range_06 TO 10',
#  'storey_range_07 TO 09',
#  'storey_range_10 TO 12',
#  'storey_range_11 TO 15',
#  'storey_range_13 TO 15',
#  'storey_range_16 TO 18',
#  'storey_range_16 TO 20',
#  'storey_range_19 TO 21',
#  'storey_range_21 TO 25',
#  'storey_range_22 TO 24',
#  'storey_range_25 TO 27',
#  'storey_range_26 TO 30',
#  'storey_range_28 TO 30',
#  'storey_range_31 TO 33',
#  'storey_range_31 TO 35',
#  'storey_range_34 TO 36',
#  'storey_range_36 TO 40',
#  'storey_range_37 TO 39',
#  'storey_range_40 TO 42',
#  'storey_range_43 TO 45',
#  'storey_range_46 TO 48',
#  'storey_range_49 TO 51'
    
df_final['storey < 10'] = df_final['storey_range_01 TO 03']\
                        + df_final['storey_range_01 TO 05']\
                        + df_final['storey_range_04 TO 06']\
                        + df_final['storey_range_06 TO 10']\
                        + df_final['storey_range_07 TO 09']\
                
df_final['storey < 15'] = df_final['storey_range_10 TO 12']\
                        + df_final['storey_range_11 TO 15'] 
                                   
df_final['storey < 20'] = df_final['storey_range_16 TO 18']\
                        + df_final['storey_range_16 TO 20'] 
    
df_final['storey < 30'] = df_final['storey_range_19 TO 21']\
                        + df_final['storey_range_21 TO 25']\
                        + df_final['storey_range_22 TO 24']\
                        + df_final['storey_range_06 TO 10']\
                        + df_final['storey_range_25 TO 27']\
                        + df_final['storey_range_26 TO 30']\
                        + df_final['storey_range_28 TO 30']
                        
df_final['story > 30'] = df_final['storey_range_31 TO 33']\
                        + df_final['storey_range_31 TO 35']\
                        + df_final['storey_range_34 TO 36']\
                        + df_final['storey_range_36 TO 40']\
                        + df_final['storey_range_37 TO 39']\
                        + df_final['storey_range_40 TO 42']\
                        + df_final['storey_range_43 TO 45']\
                        + df_final['storey_range_46 TO 48']\
                        + df_final['storey_range_49 TO 51']
                        
df_final.drop(['storey_range_01 TO 03',
                'storey_range_01 TO 05',
                'storey_range_04 TO 06',
                'storey_range_06 TO 10',
                'storey_range_07 TO 09',
                'storey_range_10 TO 12',
                'storey_range_11 TO 15',
                'storey_range_13 TO 15',
                'storey_range_16 TO 18',
                'storey_range_16 TO 20',
                'storey_range_19 TO 21',
                'storey_range_21 TO 25',
                'storey_range_22 TO 24',
                'storey_range_25 TO 27',
                'storey_range_26 TO 30',
                'storey_range_28 TO 30',
                'storey_range_31 TO 33',
                'storey_range_31 TO 35',
                'storey_range_34 TO 36',
                'storey_range_36 TO 40',
                'storey_range_37 TO 39',
                'storey_range_40 TO 42',
                'storey_range_43 TO 45',
                'storey_range_46 TO 48',
                'storey_range_49 TO 51'], 
                axis = 1, inplace = True)

In [330]:
list(df_final.columns)

['floor_area_sqm',
 'remaining_lease',
 'year',
 'price_sqm',
 'distance_to_nearest_mrt',
 'Bus',
 'Food Court',
 'School',
 'Shopping Mall',
 'Supermarket',
 'Theater',
 'town_ANG MO KIO',
 'town_BEDOK',
 'town_BISHAN',
 'town_BUKIT BATOK',
 'town_BUKIT MERAH',
 'town_BUKIT PANJANG',
 'town_BUKIT TIMAH',
 'town_CENTRAL AREA',
 'town_CHOA CHU KANG',
 'town_CLEMENTI',
 'town_GEYLANG',
 'town_HOUGANG',
 'town_JURONG EAST',
 'town_JURONG WEST',
 'town_KALLANG/WHAMPOA',
 'town_LIM CHU KANG',
 'town_MARINE PARADE',
 'town_PASIR RIS',
 'town_PUNGGOL',
 'town_QUEENSTOWN',
 'town_SEMBAWANG',
 'town_SENGKANG',
 'town_SERANGOON',
 'town_TAMPINES',
 'town_TOA PAYOH',
 'town_WOODLANDS',
 'town_YISHUN',
 'flat_type_1 ROOM',
 'flat_type_2 ROOM',
 'flat_type_3 ROOM',
 'flat_type_4 ROOM',
 'flat_type_5 ROOM',
 'flat_type_EXECUTIVE',
 'flat_type_MULTI GENERATION',
 'flat_type_MULTI-GENERATION',
 'flat_model_2-room',
 'flat_model_Adjoined flat',
 'flat_model_Apartment',
 'flat_model_DBSS',
 'flat_model_Improved',
 'flat_model_Maisonette',
 'flat_model_Model A',
 'flat_model_Model A2',
 'flat_model_Multi Generation',
 'flat_model_New Generation',
 'flat_model_Premium Apartment',
 'flat_model_STANDARD',
 'flat_model_Simplified',
 'flat_model_Standard',
 'flat_model_Terrace',
 'flat_model_Type S1',
 'flat_model_Type S2',
 'storey < 10',
 'storey < 15',
 'storey < 20',
 'storey < 30',
 'story > 30']

In [331]:
df_final

,floor_area_sqm,remaining_lease,year,price_sqm,distance_to_nearest_mrt,Bus,Food Court,School,Shopping Mall,Supermarket,...,flat_model_Simplified,flat_model_Standard,flat_model_Terrace,flat_model_Type S1,flat_model_Type S2,storey < 10,storey < 15,storey < 20,storey < 30,story > 30
0,44.0,61,2017,5272.727273,0.851339,0.0,5.0,0.0,0.0,3.0,...,0,0,0,0,0,0,1,0,0,0
1,67.0,60,2017,3731.343284,0.696968,0.0,2.0,0.0,0.0,1.0,...,0,0,0,0,0,1,0,0,0,0
2,67.0,62,2017,3910.447761,0.617914,2.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
3,68.0,62,2017,3897.058824,0.851339,0.0,5.0,0.0,0.0,3.0,...,0,0,0,0,0,1,0,0,0,0
4,67.0,62,2017,3955.223881,0.617914,2.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
839605,142.0,69,1999,3211.267606,0.637828,1.0,2.0,0.0,2.0,1.0,...,0,0,0,0,0,0,1,0,0,0
839606,142.0,70,1999,2873.239437,0.411571,1.0,3.0,0.0,1.0,3.0,...,0,0,0,0,0,1,0,0,0,0
839607,146.0,70,1999,3212.328767,1.670481,0.0,0.0,0.0,1.0,1.0,...,0,0,0,0,0,1,0,0,0,0
839608,146.0,70,1999,3013.698630,1.254211,0.0,3.0,0.0,0.0,2.0,...,0,0,0,0,0,1,0,0,0,0
839609,145.0,70,1999,3337.931034,1.254211,0.0,3.0,0.0,0.0,2.0,...,0,0,0,0,0,1,0,0,0,0